/*
  Default Styles
*/
* {
  box-sizing:border-box;
  margin:0px;
  padding:0px;
}
body {
  position: relative;
  z-index: 1;
  margin: 3rem 3rem 6rem 3rem;
  padding: 0px;
  font-family: Gotham, Tahoma, sans-serif;
  font-size: 20px;
}

#github hr {
  max-width: 55rem;
}

#github hr.spread {
  margin-top:2em;
  margin-bottom: 2em;
}

#github .undefined {
  opacity: 0.4;
}

#github badge-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.85em;
  color:black;
/*  width: calc(100vw - 12rem); */
}

#github badge-button {
  display: block;
  width: 18em;
  min-height: 6em;
  margin: 5px;
  box-shadow: #aaa 5px 5px 3px;
  cursor: pointer;
}

#github .badge {
  display: block;
  width: 14em;
  min-height: 8em;
  margin: 5px;
  box-shadow: #aaa 5px 5px 3px;
  cursor: pointer;
}

#github .badgebreak {
  flex-basis: 100%;
  height: 0px;
}

#github .small {
  font-size:0.85em;
}

#github h1, h2, h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#github ol {
  margin: 0.5rem 2rem;
}

  #github ol > li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    max-width:55rem;
  }
#github ul {
  margin: 0.5rem 2rem;
}

  #github ul > li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    max-width: 55rem;
  }
#github ol.tight {
  margin:0.2rem 1rem;
}

  #github ol.tight > li {
    margin-top: 0.05rem;
    margin-bottom: 0.05rem;
    max-width: 55rem;
  }
#github ul.tight {
  margin: 0.2rem 1rem;
  margin-left:2em;
}

  #github ul.tight > li {
    margin-top: 0.05rem;
    margin-bottom: 0.05rem;
    max-width: 55rem;
  }

#github #hlp {
  position: fixed;
  top: 8em;
  right: 5em;
  z-index: 10;
  background-color: #ddd;
  border: 1px solid black;
  padding: 0.5em 1.0em 1.0em 1.0em;
}

#github next-prev {
  display: block;
  position: fixed;
  /* z-index: 10; */
  top: 0.35rem;
  right: 0.45rem;
  z-index: 100;
  padding: 3px 10px 5px 10px;
  background: #000;
  color: #fefefa;
  border: 2px solid orange;
}

  #github next-prev a {
    color: white;
  }

#github .tight {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    padding-top:0px; padding-bottom:0px;
    /*width:max-content;*/
    /*max-width:100%;*/
  }
#github text-block, t-b {
  display: block;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  max-width:55rem;
}
#github .t-b {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  max-width: 55rem;
}
#github t-ub {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  width: calc(100vw - 12rem);
  border:2px solid green;
}
#github .t-ub {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  width:calc(100vw - 12rem);
  border:2px solid green;
}
#github li {
  max-width: 55rem;
}
#github li.ub {
  max-width:100%;
}
#github notice-block, n-b {
  display:block;
  width:max-content;
  padding:3px 5px;
  margin-top:3px;
  margin-bottom:3px;
  border:2px solid darkred;
}
#github .mbz {
  margin-bottom: 0px;
}
#github .mtz {
  margin-top: 0px;
}
#github tightText-block, tt-b {
  display: block;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  /*max-width: 55rem;*/
}
#github boundedBlock-full, bb-full {
  display: block;
  max-width: calc(100vw - 12rem);
}
#github .bb-full {
  display: block;
  max-width: calc(100vw - 12rem);
}

#github .photowidth {
  display: block;
  max-width: calc(100vw - 12rem);
}
#github boundedBlock-60rem, bb-60 {
  display: block;
  /*max-width: 60rem;*/
}

#github .bb-60 {
  display: block;
  /*max-width: 60rem;*/
}
#github boundedBlock-55rem, bb-55 {
  display: block;
/*  max-width: 55rem;*/
}
#github .bb-55 {
  display: block;
  /*max-width: 55rem;*/
}
#github boundedBlock-50rem, bb-50 {
  display: block;
  /*max-width: 50rem;*/
}
#github .bb-50 {
  display: block;
  /*max-width: 50rem;*/
}
#github indentedText-block, it-b {
  display: block;
  margin: 0.25em 1.0em;
}
#github boundedText-block, bt-b {
  display: block;
  margin-top:0.75rem;
  margin-bottom:0.75rem;
  max-width: 55rem;
}
#github summary {
  width:max-content;
  max-width:100%;
}
#github .quickStatus {
  width:auto;
  z-index:1000;
  position:relative;
}

/*#github .quickStatus:hover {
  display:block;
}*/

/*#github boundedText-block, bt-b {
  width: 50rem;
  display: block;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}*/
#github bounded-block, b-b, .b-b {
  max-width:60rem;
}
#github text-span, t-s {
  font-weight: normal;
  font-size: 1.0rem;
  font-family: Tahoma;
  white-space: normal;
}

#github normaltext-span, nt-s {
  font-weight:normal;
  font-style:normal;
  font-size:0.9rem;
  font-family:Tahoma;
  color:black;
}

#github .notice {
  font-size: 1.1rem;
  font-weight: bolder;
  font-style: italic;
  font-family: Consolas, sans-serif;
  letter-spacing: 0px;
  word-spacing: -2px;
  /*font-stretch:condensed;*/
  /*transform: scale(.5, 1);*/
  color: darkred;
}
#github n-s {
  display: inline;
  font-size: 1.1em;
  font-weight: bolder;
  font-style: italic;
  font-family: Consolas, sans-serif;
  letter-spacing: 0px;
  word-spacing: -2px;
  /*font-stretch:condensed;*/
  /*transform: scale(.5, 1);*/
  color: darkred;
}

#github code-block, c-b {
  display: block;
  white-space: pre;
  overflow: hidden;
  font-family: Consolas, monospace;
  font-weight: bold;
  font-size: 1.0rem;
}
#github .code-block {
  display: block;
  white-space: pre;
  overflow: hidden;
  font-family: Consolas, monospace;
  font-weight: bold;
  font-size: 1.0rem;
}

#github code-span, c-s {
  font-family: Consolas, monospace;
  font-weight: bold;
  font-size: 1.0rem;
  /*font-stretch: condensed;*/
  letter-spacing: 0px;
  word-spacing: -5px;
}
#github codelarge-span, cl-s {
  font-family: Consolas, monospace;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: -1px;
  word-spacing: -5px;
}
#github .codeTable {
  table-layout: fixed;
  border-collapse: collapse;
  padding: 10px;
  border: 2px solid darkred;
  width: calc(100vw - 12rem);
}
#github table.codeTable > tr {
  border:none;
}
#github defn-outerBlock, .defn-outerBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
  width: calc(100vw - 12rem);
  border: none;
}
#github defn-block {
  display: flex;
  flex-direction: column;
  border: 2px solid darkred;
  margin: 3px;
  /*margin-top: 0.75rem;
  margin-bottom: 0.75rem;*/
  width: max-content;
  overflow-x: auto;
}

#github .defn-block {
  display: flex;
  flex-direction: column;
  border: 2px solid darkred;
  margin: 3px;
  /*margin-top: 0.75rem;
  margin-bottom: 0.75rem;*/
  width: max-content;
  overflow-x: auto;
}

#github defn-head {
  display: block;
  border: none;
  border-bottom: 2px solid darkred;
  padding: 0.25rem 1rem;
  font-size: 1.0rem;
  font-weight: bolder;
  font-style: italic;
  font-family: Consolas, sans-serif;
  color: darkred;
  /*overflow-x: hidden;*/
}

#github .defn-head {
  display: block;
  border: none;
  border-bottom: 2px solid darkred;
  padding: 0.25rem 1rem;
  font-size: 1.0rem;
  font-weight: bolder;
  font-style: italic;
  font-family: Consolas, sans-serif;
  color: darkred;
  /*overflow-x: hidden;*/
}

#github defn-body {
  display: block;
  border: none;
  padding: 0.5rem 1.0rem;
  /*overflow-x: hidden;*/
  font-size: 0.9rem;
}

#github .defn-body {
  display: block;
  border: none;
  padding: 0.5rem 1.0rem;
  /*overflow-x: hidden;*/
  font-size: 0.9rem;
}

#github defn-code {
  display: block;
  border: none;
  /*border-top: 2px solid darkred;*/
  padding: 0.0rem 1.0rem;
  white-space: pre;
  /*overflow-x: hidden;*/
  font-family: Consolas, monospace;
  font-weight: bold;
  font-size: 0.8rem;
}
#github .defn-code {
  /*display: block;*/
  border: none;
  /*border-top: 2px solid darkred;*/
  padding: 0.0rem 1.0rem;
  white-space: pre;
  /*overflow-x: hidden;*/
  font-family: Consolas, monospace;
  font-weight: bold;
  font-size: 0.8rem;
}
#github viewWidth, vw {
  width: calc(100vw - 12rem);
}
#github .viewWidth, .vw {
  width: calc(100vw - 12rem);
}
#github Table.tdefn {
  table-layout: fixed;
  /*position:relative;*/
  border: 2px solid darkred;
  border-collapse: collapse;
}
#github th.tdefn {
  padding: 10px 15px;
  background-color: #fefefa;
  color: darkred;
  border-bottom: 2px solid darkred;
  font-size: 1.1rem;
  font-weight: bolder;
  font-style: italic;
  font-family: Consolas, sans-serif;
}
#github td.tdefn {
  vertical-align:top;
  padding:0px;
  margin:0px;
}
#github tdefn-block, .tdefn-block {
  display: flex;
  flex-direction: column;
  /*border: 2px solid darkred;*/
  margin: 0rem;
  padding: 0rem;
  width: max-content;
  overflow-x: auto;
}

#github tdefn-head, .tdefn-head {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-weight: bolder;
  font-style: italic;
  font-family: Consolas, sans-serif;
  color: darkred;
  /*overflow-x: hidden;*/
}

#github tdefn-block > tdefn-body, .tdefn-body {
  display: block;
  flex:1;
  /*border-top: 2px solid darkred;*/
  padding: 0.5rem 1.0rem;
  /*overflow-x: hidden;*/
}

#github tdefn-block > tdefn-code, .tdefn-code {
  display: block;
  flex-basis:100%;
  width:max-content;
  /*border-top: 2px solid darkred;*/
  padding: 0.0rem 1.0rem;
  white-space: pre;
  /*overflow-x: hidden;*/
  font-family: Consolas, monospace;
  font-weight: bold;
  font-size: 0.9rem;
}
/*#github .tdefnHeight {
  flex: 0 1 1;
}*/
#github .defnBorder {
  border: 2px solid darkred;
}
#github .defnBorderTop {
  border-top: 2px solid darkred;
}
#github .defnBorderBottom {
  border-bottom: 2px solid darkred;
}
#github .defnBorderLeft {
  border-left: 2px solid darkred;
}
#github .defnBorderRight {
  border-right: 2px solid darkred;
}
#github .noBorder {
  border:none;
}
#github .noBorderLeft {
  border-left:none;
}
#github .noBorderRight {
  border-right:none;
}
#github .noBorderTop {
  border-top:none;
}
#github .noBorderBottom {
  border-bottom:none;
}
#github .autoX {
  overflow-x: auto;
}
#github .flex {
  display:flex;
}
#github .left {
  float: left;
}
#github .right {
  float: right;
}
#github .clear {
  clear: both;
}
#github .indent {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
#github indent-block, i-b {
  display:block;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
#github .pad5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

#github .pad10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

#github .pad10-15 {
  padding: 10px 15px;
}
#github .pad15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
#github .pad20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
#github .pad25 {
  padding-top: 25px;
  padding-bottom: 25px;
}
#github spacer-5px, s-5px {
  display: block;
  height: 5px;
}

#github spacer-10px, s-10px {
  display: block;
  height: 10px;
}

#github spacer-15px, s-15px {
  display: block;
  height: 15px;
}

#github spacer-20px, s-20px {
  display: block;
  height: 20px;
}

#github spacer-25px, s-25px {
  display: block;
  height: 25px;
}

#github spacer-quarterEm, s-quarterEm {
  display: block;
  height: 0.25rem;
}

#github spacer-halfEm, s-halfEm {
  display: block;
  height: 0.5rem;
}

#github spacer-1em, s-1em {
  display: block;
  height: 1rem;
}

#github spacer-2em, s-2em {
  display: block;
  height: 2rem;
}

#github spacer-3em, s-3em {
  display: block;
  height: 3rem;
}

#github spacer-4em, s-4em {
  display: block;
  height: 4rem;
}

#github spacer-5em, s-5em {
  display: block;
  height: 5rem;
}

#github .grey, .gray {
  background:#eee;
  border:1px solid #333;
  padding: 3px 10px;
  width:max-content;
}

#github toc-block, toc-b {
  display: block;
  position: fixed;
  bottom: 1.6rem;
  left: 0.2rem;
  z-index: 100;
  padding: 3px 10px 5px 10px;
  background: #000;
  color: #fefefa;
  border: 2px solid orange;
}

#github #toc a {
  color: black;
}

#github up-b {
  display: none;
  position: absolute;
  bottom: 1.65rem;
  left: 0rem;
  background-color: #eee;
  padding: 3px 10px 5px 10px;
  border: 1px solid darkred;
}

#github rt-b {
  display: none;
  width: max-content;
  position: absolute;
  bottom: 0rem;
  left: 8.9rem;
  background-color: #eee;
  padding: 3px 10px 5px 10px;
  border: 1px solid darkred;
}

#github under-construction {
  display: flex;
  width:max-content;
  padding: 5px 25px 10px 25px;
  border: 2px solid darkred;
  font-size: 1.25em;
}

#github .figureHeader {
  display: inline-block;
  font-weight: bold;
  font-family: 'Comic Sans MS, Tahoma';
  background-color: #ddd;
  width: 100%;
  padding: 5px 0px;
}

