/*
  Styles for Menus
  - These menus follow the technique described in w3schools
*/
body > #Next, #Prev, #Lect {
  display: none; /* hide the anchors for next and prev */
}

info-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 5px 40px;
  text-align:center;
  width: 100%;
  border-top: 1px solid #333;
  background-color: #eee;
  font-size: 14px;
}

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #eee;
  border-bottom: 1px solid #333;
  width: 100000px;
}

  nav .navbar {
    background-color: #fff;
    font-family: Tahoma, sans-serif;
  }

nav .menuItem {
  display: block;
}

nav div.navbar a {
  display: block;
  float: left;
  font-size: 0.9em;
  font-size: 1.0em;
  color: black;
  padding: 4px 16px;
  text-decoration: none;
  overflow: hidden;
}

nav div.dropdown {
  display: block;
  float: left;
  overflow: hidden;
}

nav div.dropdown .dropbutton {
  font-size: 0.9em;
  font-size: 1.0em;
  border: none;
  outline: none;
  color: black;
  padding: 4px 16px;
  background-color: inherit;
  margin: 0px;
}

nav div.navbar a:hover, .dropdown:hover {
  background-color: #ddd;
}

nav div.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 120px;
  max-height: 400px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 15px;
}

nav div.dropdown-content a {
  float: none;
  color: black;
  padding: 2px 10px;
  display: block;
  text-align: left;
}

nav div.dropdown-content a:hover {
  background-color: #ddd;
  cursor: pointer;
}

nav div.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

nav button.dropbutton {
  cursor: pointer;
}

nav button.menuScroll {
  position: fixed;
  top: 0px;
  right: 2em;
  padding: 4px 8px;
}

nav button.menuUnscroll {
  position: fixed;
  top: 0px;
  right: 0em;
  padding: 4px 8px;
  vertical-align: middle;
}

nav button.pageScroll {
  display: none;   /* remove to show Top and Bottom buttons */
  border: none;
  background: #eee;
  padding: 4px 16px;
  font-size: 0.9em;
}

nav button.pageScroll:hover {
  background-color: #ddd;
  cursor: pointer;
}

nav a.nextprev {
  border: none;
  background: #eee;
  text-decoration: none;
  padding: 4px 16px;
  font-size: 0.9em;
}

nav a.nextprev:hover {
  background-color: #ddd;
  cursor: pointer;
}

navKeysContainer {
  display: none;
  font-size: 1.0em;
  position: fixed;
  bottom: 40px;
  right: 30px;
  padding: 0px;
}

navKey {
  padding: 2px 5px;
  margin: 0px;
  border: 1px solid black;
  background-color: white;
  cursor: default;
}

navkey:hover {
  cursor: pointer;
  background-color: #ddd;
}

a:link.disable {
  color: #888;
}

a:hover.disable {
  color: #888;
}

a:visited.disable {
  color: #888;
}

a:active.disable {
  color: #888;
}

.darkTheme {
  color:#f0ffff;
  background-color: #2e5894;
}
/*.disable {
  color: gray;
}*/

.notice {
  /*background-color:cornsilk;*/
  border:2px solid #999;
}

/*a.blue a:link {
  color:white;
}*/