/* StylesPageFrameThemeBrown */

/* 
  Stylesheets should be included in the order:
    - StylesPageFrameTheme(Default).css
    - StylesPageFrameStructure.css
    - StylesPageFrameMenus.css
    - StylesPageFrameKeyboard.css
*/

:root {
  --light: #fefefa;
  --dark: #3d0c02;
  /*--dark: #6f4e37;*/
  /*--dark: #4c2f27;*/
  --hdr: #4c2f27cc;
  --menu: #eee;
  --atten: #6f4e37;
  /*--atten: #fffae622;*/
  /*--atten: #f7efde;*/
  /*--atten: #f5ebd6;*/
  /*--atten: #f5f5dc;*/
  --hr: #4c2f27;
}

body {
  position:relative;
}

/*#github header {
  background-color: var(--atten);
  color: var(--dark);
}*/

#github .header {
  background-color: var(--atten);
  color: var(--dark);
}

#github #pagetitle {
  /*background-color: var(--atten);*/
  background-color: var(--dark);
  /*color: var(--dark);*/
  color: var(--light);
  border: 0.08em solid var(--dark);
  box-shadow: 4px 4px 4px #ddd;
}

#github #title {
  /*background-color: var(--atten);*/
  /*color: var(--dark);*/
  background-color: var(--dark);
  color: var(--light);
}

#github #subtitle {
  /*background-color: var(--atten);*/
  /*color: var(--dark);*/
  background-color: var(--dark);
  color: var(--light);
  font-weight: normal;
}

#github header a {
  color: var(--light);
  background-color: transparent;
}

#github details {
  position:relative;
  z-index:1000;
}

/*#github summary {
  border:1px solid transparent;
}

#github details {
  border:1px solid transparent;
}
*/
  #github details a {
    color: var(--dark);
    background-color: transparent;
    border: 1px solid transparent;
    outline: none !important;
  }
  #github a {
    box-shadow:none;
    user-select:none;
  }
/*  #github a:link {
    color: var(--dark);
    background-color: transparent;
  }
  #github a:visited {
    color: var(--dark);
    background-color: transparent;
  }
  #github a:hover {
    color: var(--dark);
    background-color: transparent;
  }
  #github a:active {
    color: var(--dark);
    background-color: transparent;
  }
#github .scaledImage a {
  -webkit-tap-highlight-color: transparent !important;
}
*/
/*#github input:focus {
  outline:none !important;
}
*/
#github a.repoLink {
  background-color: transparent;
  color: var(--light);
}

#github table a {
  color: var(--dark);
  background-color: transparent;
}


#github .note {
  background-color: var(--dark);
  color: var(--light);
}

#github .ligthItem {
  background-color: var(--light);
  color: var(--dark);
}

#github .darkItem {
  background-color: var(--dark);
  color: var(--light);
}
#github details {
  position: relative;
  z-index: 1;
}

#github summary {
  position: relative;
  z-index: 1;
}

#github a {
  outline:none;
}

