/* StylesFlexMenus */

body {
    position:relative;
    box-sizing: border-box;
    font-family:Tahoma, sans-serif;
    font-size:1em;
    margin:3em 2em 2em 2em;
}
#github t-b {
  display: block;
  margin: 1.5em;
  max-width: 55em;
}
#github div.navbar {
    position:fixed;
    top:0em;
    left:0em; right:0em;
    display:flex;
    flex-basis: 100%;
    height:2em;
    padding:0em 1.5em;
    background-color:#eee;
    border-bottom:1px solid #0005;
}
  #github div.navbar a:link {
    color: #010101
  }
#github div.menuItem {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0em 0.5em;
  cursor: pointer;
}
  #github div.menuItem a {
    text-decoration: none;
    color: black;
  }
  #github div.menuItem:hover {
    background-color: #dedcde;
  }
  #github div.menuItem:hover .dropdown {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
  }
#github div.dropdown {
  display: none;
  position: absolute;
  top: 1.95em;
  left: 0em;
  background-color: #fff;
  box-shadow: 8px 8px 8px -2px #aaa;
  border: 1px solid black;
  z-index: 10;
  overflow-y: auto;
  max-height: calc(100vh - 5em);
}
#github div.pageItems {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 3.45em;
  right: 0.0em;
  background-color: #fff;
  box-shadow: 8px 8px 8px -2px #aaa;
  border: 1px solid black;
  z-index: 10;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 5.4em);
}
#github div.sections {
  display: flex;
  position: fixed;
  bottom: 1.70em;
  right: 0.0em;
  background-color: #fff;
  box-shadow: 8px 8px 8px -2px #aaa;
  border: 1px solid black;
  z-index: 10;
  max-width: calc(100vw - 0.95em);
  overflow-x: auto;
  padding: 0.25em 0em;
}
#github #pages {
  position:absolute;
}
#github #about {
  position: fixed;
  bottom: 2.75em;
  right: 1em;
  z-index: 20;
  padding:0.5em 1em;
  background-color: #fff;
  box-shadow: 8px 8px 8px -2px #aaa;
  border: 1px solid black;
}
#github #hlp {
  position:fixed;
  bottom:10em;
  right:5em;
  z-index:20;
  padding:0.5em 1em;
  background-color:black;
  color:white;
}
#github .helpItem {
  padding-right:0.5em; 
  cursor:pointer;
}
#github div.dropdown details {
  margin-right: 0.5em;
}
#github div.ddItem {
  padding: 0.05em 0.5em;
  font-size: 0.9em;
}
  #github div.ddItem a {
    color: black;
  }
#github div.dropdown details div.ddDetails {
  margin-left: -0.5em;
  margin-right: 0.5em;
}
#github div.ddItem:hover {
  background-color: #dedcde;
}
#github div.ddDetails {
  background-color: #dedcde;
  margin-right: 0.5em;
}
  #github div.ddDetails:hover {
    background-color: white;
    padding-right: 0.5em;
  }
#github div.dropdown details summary {
  user-select: none;
}
#github #Next, #Prev {
  display: none;
}
#github .ligthItem {
  background-color: #efefef;
  color: #010101;
}
#github .darkItem {
  background-color: #010101;
  color: #efefef;
}
#github div.ddLabel {
  padding: 0.25em 0.5em;
  margin-bottom: 0.25em;
}
#github div.prevlink {
  display: none;
}
#github div.nextlink {
  display: none;
}
#github div.nextprev {
  display: none;
}
#github nav button.menuScroll {
  position: fixed;
  top: 0em;
  right: 2.05em;
  padding: 0.45em 8px;
}

#github nav button.menuUnscroll {
  position: fixed;
  top: 0em;
  right: 0.25em;
  padding: 0.45em 8px;
}
#github info-bar {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  bottom: 0em;
  left: 0em;
  width: 100%;
  padding: 5px 40px;
  text-align: left;
  border-top: 1px solid #333;
  background-color: #eee;
  font-size: 1em;
  z-index: 99;
  user-select: none;
}

#github div.navbarleft {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0em;
  left: 0em;
  padding: 5px 40px;
  text-align: left;
  border-top: 1px solid #333;
  background-color: #eee;
  font-size: 1em;
  z-index: 100;
}

#github div.navbarright {
  display: flex;
  position: fixed;
  bottom: 0em;
  right: 0em;
  padding: 5px 40px;
  border-top: 1px solid #333;
  background-color: #eee;
  font-size: 1em;
  z-index: 101;
}
  
  