/*
  -------------------------------------------------------------------
   StylesPhotoSizerComp.css 
    - Webcomponent for displaying resizeable images

   Jim Fawcett, Emeritus Teaching Professor, Syracuse University
  -------------------------------------------------------------------
*/
/*-----------------------------------------------------------------*/
/* photosizer-block                                                */

#github hidephotosizer-block {
  /*display:none;*/
  --border: 1px solid black;
  --box-shadow: 3px 3px 5px #999;
  --wrapperPadding: 5px 10px 10px 10px;
  --margin: 20px;
  --captionPadding: 0px 0px 5px 0px;
}
/*-----------------------------------------------------------------*/
/* photosizer-block                                                */

#github photosizer-block {
  /*display:none;*/
  --border: 2px solid var(--dark);
  --box-shadow: 3px 3px 5px #999;
  /* --wrapperPadding: 5px 10px 10px 10px; */
  --wrapperPadding: 0.25em 1.25em 1.25em 1.25em;
  --margin: 20px;
  --captionPadding: 0px 0px 5px 0px;
}
 /*uncomment .photoSizerBlock to use this class 
#github .photoSizerBlock {
  --background-color: #efe;
  --font-family:Comic Sans MS;
  --font-weight: Bold;
  --border: 3px solid darkgreen;
  --captionPadding: 0px 0px 5px 0px;
  --wrapperPadding: 5px;
  --margin: 30px;
}*/

/*-----------------------------------------------------------------*/
/* photo-block                                                     */

#github photo-block {
  --border: 1px solid black;
  --box-shadow: 3px 3px 5px #999;
}
/* uncomment .photoBlock to use this class */
/*#github .photoBlock {
  --background-color: #efe;
  --font-family:Comic Sans MS;
  --font-weight: Bold;
  --border: 3px solid darkgreen;
}*/

/*-----------------------------------------------------------------*/
/* code-block                                                      */

code-block {
  display: block;
  --background-color: #004225;
  --color: #fefefa;
  --padding: 10px 25px 10px 0px;
  --font-family: Consolas, monospace;
  --font-weight: normal;
  --font-size: 1.0em;
  float: left;
  --box-shadow: 3px 3px 5px #999;
  /*border:2px solid red;*/
}
/* uncomment .codeTheme to use this class */
/*.codeTheme {
      --background-color:#253529;
      --color: #fefefa;
      --font-weight:normal;
    }*/
