/* StylesPageFrameMenus */

/* 
  Stylesheets should be included in the order:
    - StylesPageFrameTheme(Default).css
    - StylesPageFrameStructure.css
    - StylesPageFrameMenus.css
    - StylesPageFrameKeyboard.css
*/

#github details {  /* override StylesTemplate */
  width:auto;
}

#github details.ddItem summary {
  width: max-content;
  max-width: 100%;
  user-select: none;
  padding: 0em;
  margin-top: 0em;
  margin-bottom: 0em;
  font-weight: normal;
  cursor: pointer;
}

#github #Next {
  display: none;
}

#github #Prev {
  display: none;
}

/*#github #nextlink {
  display: none;
}

#github #prevlink {
  display: none;
}

#github #nextlink2 {
  display: none;
}

#github #prevlink2 {
  display: none;
}

#github #modified {
  display: none;
}
*/
#github #modified {
  display:none;
}
#github #page {
  display:none;
}
#github #pgbtn {
  /*display: none;*/
}

#github #hlp {
  display: none;
  flex-direction: column;
  white-space: nowrap;
  position: fixed;
  z-index: 1000;
  bottom: 6.0em;
  left: 50%;
  padding: 0;
  /*font-size:0.75em;*/
  background-color: var(--dark);
  color: var(--light);
  border: 5px double var(--light);
}

#github table#keys {
  flex: 1 1 auto;
  position: relative;
  margin: 0px;
  z-index: 1000;
  background-color: var(--dark);
  color: var(--light);
  /*border: 2px solid orange;*/
}

#github table.keys {
  flex: 1 1 auto;
  border: none;
  padding: 0.25em 0.75em;
  background: var(--dark);
  color: var(--light);
  cursor: default;
}

#github table#keys td {
  flex: 1 1 auto;
  border: none;
  padding: 0.1em 1.0em;
  font-size:0.95em;
  background: var(--dark);
  color: var(--light);
  cursor: default;
}

#github table#keys td.key:hover {
  cursor: pointer;
  z-index: 1000;
  background-color: #ddd;
  color: var(--dark);
}


#github #about {
  display: none;
  position: fixed;
  bottom: 6.0em;
  right: 50%;
  z-index: 1000;
  padding: 0.25em 0.5em 0.5em 0.5em;
  background-color: var(--dark);
  color: var(--light);
  border: 5px double var(--light);
}

#github .about {
  display: none;
  position: fixed;
  bottom: 7.5em;
  right: 16em;
  z-index: 1000;
  padding: 0.25em 0.5em 0.5em 0.5em;
  background-color: var(--dark);
  color: var(--light);
  border: 3px double var(--light);
}

/*#github content {
  display: block;
  padding: 1em 2em;*/
  /*flex: 1;*/
  /*border:1px solid black;*/
/*}*/

#github #pages {
  position: fixed;
  right: 0em;
  bottom: calc(2.0em);
  max-height: calc(100% - 6em - 6px);
  padding: 0em 0em;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  z-index: 1000;
  background-color: var(--light);
  color: var(--dark);
  border: 5px double var(--dark);
}

  #github #pages a {
    color: var(--dark);
  }
#github page-sections {
  position: fixed;
  right: 0em;
  bottom: calc(2.0em);
  max-height: calc(100% - 6em - 6px);
  padding: 0em 0.25em;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  z-index: 1000;
  background-color: var(--light);
  color: var(--dark);
  border: 5px double var(--dark);
}

  #github page-sections a {
    color: var(--dark);
  }
  /*#github #pages*/ /*page-TOC*/ /*a:link {
    color: var(--dark);
  }

  #github #pages*/ /*page-TOC*/ /*a:visited {
    color: var(--dark);
  }

  #github #pages*/ /*page-TOC*/ /*a:hover {
    color: var(--dark);
  }

  #github #pages*/ /*page-TOC*/ /*a:active {
    color: var(--dark);
  }*/

#github toc-elem {
  display: block;
  padding: 0.2em 0.5em;
}

/*#github page-sections {
  position: fixed;
  right: 0em;
  bottom: calc(2.0em);
  display: flex;
  flex-direction: row-reverse;
  max-width: calc(100% - 6px);
  overflow-x: auto;
  z-index:1000;*/
  /*height:2.0em;*/
  /*background-color: var(--light);
  color: var(--dark);
  border: 5px double var(--dark);*/
  /*border-bottom: none;*/
/*}*/

#github sec-elem {
  display: block;
  /*padding: 0.15em 0.5em;*/
  cursor: pointer
}

#github menu-elem {
  display: block;
  padding: 0.25em 0.5em;
  cursor: pointer;
}

#github menu-elem:hover {
  background-color: #ddd;
}

/*#github #pages menu-elem {*/
  /*width:stretch;*/
  /*flex: 1 1 auto;
  background-color:green;
}*/

#github #pages .pageElem {
  /*display: flex;*/
  flex: 1 1 auto;
  color: var(--dark);
  background-color: var(--light);
  padding: 0.15em 1em;
}

  #github #pages .pageElem:hover, .pageElem:hover * {
    background-color:#ddd;
    /*background-color: var(--light);
    color: var(--dark);*/
    /*display: flex;*/
    /*flex: 1 1 auto;
  background-color: green;*/
  }

/*  #github #pages .pageElem a:hover {
    display: flex;
    flex: 1 1 auto;
    background-color: var(--light);
    color: var(--dark);
  }
*/
#github #sections .secElem {
  flex: 1 1 auto;
  color: var(--dark);
  background-color: var(--light);
  padding: 0.15em 0.5em;
}
  #github #sections .secElem:hover, .secElem:hover * {
    background-color: #ddd;
   /* color: var(--dark);*/
    /*display: flex;*/
    /*flex: 1 1 auto;
  background-color: green;*/
  }

/*#github #sections .secElem a:hover {
  background-color: #ddd;
}
*/
#github #navbar {
  z-index: 1000;
}

  #github #navbar details:hover {
    background-color: #ddd;
  }

#github div.navbar {
  position: fixed;
  z-index:2000;
  top: 0em;
  left: 0em;
  right: 0em;
  display: flex;
  flex-basis: 100%;
  height: 2em;
  padding: 0em 1.5em;
  font-size: 1.0em;
  background-color: var(--menu);
  color: var(--dark);
  border-bottom: 1px solid var(--dark);
  /*box-shadow: 3px 1px 10px  var(--dark);*/
  /*border-right: 1px solid green;*/
}

#github div.navbar a:link {
  color: #010101;
}

#github frame-footer {
  font-size: 1.0em;
  background-color: var(--menu);
}

#github div.menuItem {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0em 0.5em;
  cursor: pointer;
  font-size: 1.0em;
}

#github div.menuItem a {
  text-decoration: none;
  color: var(--dark);
}

#github div.menuItem:hover {
  background-color: #dedcde;
}

#github div.menuItem:hover .dropdown {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

#github .menuHead {
  margin: 0em -0.25em 0.0em -0.25em;
  padding: 0.25em 0.5em;
  background-color:var(--dark);
  color:var(--light);
  width:calc(max-content);
}

#github div.dropdown {
  display: none;
  position: absolute;
  top: 1.85em;
  left: 0em;
  background-color: var(--light);
  color: var(--dark);
  box-shadow: 8px 8px 8px -2px #aaa;
  border: 1px solid var(--dark);
  z-index: 1000;
  /*width:fit-content;*/
  /*padding-right:0px;*/
  overflow-y: auto;
  max-height: calc(100vh - 10em);
}
#github div.dropdown details {
  margin-right: 0.5em;
}

#github div.ddItem {
  /*padding: 0.05em 0.5em;*/
  padding: 0.2em 0.5em;
  font-size: 0.9em;
}

#github div.ddItem a {
  color: var(--dark);
}

#github div.dropdown details div.ddDetails {
  margin-left: -0.5em;
  margin-right: 0.5em;
}

#github div.ddItem:hover {
  background-color: #dedcde;
}

#github div.ddDetails {
  background-color: #dedcde;
  margin-right: 0.5em;
}

#github div.ddDetails a {
  margin-left:1.0em;
}

#github div.ddDetails:hover {
  background-color: var(--light);
  padding-right: 0.5em;
}

#github div.dropdown details summary {
  user-select: none;
}

#github div.ddLabel {
  padding: 0.25em 0.5em;
  margin-bottom: 0.25em;
}

/*#github table#keys {
  border: none;
  background: var(--dark);
  cursor: default;
}
*/
#github #sections {
  overflow-x: hidden;
}

#github #pages menu-elem {
  flex: 1;
  background-color: var(--light);
  color: var(--dark);
  /*border:1px solid green;*/
}

#github #pages menu-elem a {
  color: var(--dark);
}

#github #sections menu-elem {
  flex: 1;
  background-color: var(--light);
  color: var(--dark);
}
#github #sections menu-elem a {
  /*background-color: var(--light);*/
  color: var(--dark);
}

#github .banner {
  background-color: var(--dark);
  color: var(--light);
  margin: 0em -0.25em;
  padding: 0.25em 0.5em;
}

#github #navbar {
  background-color: var(--menu);
  width:100%;
}
#github .navbar {
  width:100%;
  background-color: var(--menu);
}
