/*
 * StylesLightBrownTheme.css
 * ver 1.0 - 29 Aug 2015
 * Jim Fawcett, Syracuse Univ
 */

/* light brown theme */

#github .maxWidth {
  width: 100%;
}

#github .noScrollX {
  overflow-x: hidden;
}
#github .lightItem {
  /*display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  background-color: #f2f0e6;
  color: #4c2f27;
  padding: 3px 10px;
  border: 1px solid #4c2f27;
}
#github .light {
  background-color: #f2f0e6;
  color: #4c2f27;
}
/*#github light-item {*/
  /*display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  /*background-color: #f2f0e6;
  color: #4c2f27;
  padding: 3px 10px;
  border: 1px solid #4c2f27;
}*/

#github .darkItem {
  /*display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  background-color: #4c2f27; /* Acajou */
  color: #f2f0e6; /* Alabaster */
  padding: 3px 10px;
  border: 1px solid #f2f0e6;
}
#github .dark {
  background-color: #4c2f27; /* Acajou */
  color: #f2f0e6; /* Alabaster */
}
/*#github dark-item {*/
  /*display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  /*background-color: #4c2f27;*/ /* Acajou */
  /*color: #f2f0e6;*/ /* Alabaster */
  /*padding: 3px 10px;
  border: 1px solid #f2f0e6;
}*/

#github .raised {
  box-shadow: 3px 3px 5px #6a432d;
}

#github {
  /*background-color: #f2f3f4;*/ /* anti-flash white */
  /*background-color: #faebd7; /* antique white */
  /*background-color: #f0ffff; /* azure mist */
  background-color: #fefefa; /* baby powder */
  color: #4c2f27;
}

#github .darkBorder {
  border: 1px solid #4c2f27;
}

#github .lightBorder {
  border: 1px solid #f2f0e6;
}

#github #pagetitle {
  background-color: #f2f0e6;
  color: #4c2f27;
}

  #github #title {
    background-color: #f2f0e6;
    color: #4c2f27;
  }

  #github #subtitle {
    background-color: #f2f0e6;
    color: #4c2f27;
  }

  #github #subtitle a {
    background-color: #f2f0e6;
    color: #4c2f27;
  }

#github a.repoLink {
  background-color: #f2f0e6;
  color: #4c2f27;
}

#github h1 {
  color: #4c2f27;
}

#github h2 {
  color: #4c2f27;
}

#github h3 {
  color: #4c2f27;
}

#github h4 {
  color: #4c2f27;
}

#github hr {
  color: #4c2f27;
}

#github .lightItem a {
  color: #4c2f27;
}

#github .lightItem a:link {
  color: #4c2f27;
}

#github .lightItem a:visited {
  color: #4c2f27;
}

#github .lightItem a:hover {
  color: #4c2f27;
}

#github .lightItem a:active {
  color: #4c2f27;
}

#github .darkItem a {
  color: #f2f0e6;
}

#github .darkItem a:link {
  color: #f2f0e6;
}

#github .darkItem a:visited {
  color: #f2f0e6;
}

#github .darkItem a:hover {
  color: #f2f0e6;
}

#github .darkItem a:active {
  color: #f2f0e6;
}
