/*
  -------------------------------------------------------------------
   SplitterBar.css 
    - styles for draggable splitter with one pane on each side

   Jim Fawcett, Emeritus Teaching Professor, Syracuse University
  -------------------------------------------------------------------
*/
body
{
  font-family: Tahoma, sans-serif;
  padding:25px;
}

splitter-container {
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-basis: auto;          /* uncomment to enable growing height to fit content */
  /*height: 300px;*/         /* comment out to enable growing height to fit content*/
  border: 3px solid #3f000f;
}

splitter-bar {
  cursor: col-resize;
  background-color:#3f000f;
  width: 10px;
  min-width:10px;
  flex: 1 10px 0px;
}

first-item {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  background-color: #eee;
  width: 50%;
  /*min-width:10%;*/  /* uncomment to prevent first-item from disappearing completely */
  user-select: none;
}

second-item {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  background-color: #eee;
  width: 50%;
  /*min-width:10%;*/ /* uncomment to prevent second-item from disappearing completely */
  user-select: none;
}