/*
  Styles for page bodies
  - Menu styling resides in the StylesMenu.css page
*/
body {
  padding: 3em 4em 6em 4em;
  /*padding: 40px 40px 70px 40px;*/
  margin: 0px;
  font-family: Tahoma, sans-serif;
  font-size: medium;
  /*border-left: 10px solid #eee;
  border-right: 10px solid #eee;*/
}

#github header {
  position:relative;
}

#github .codeSnap {
  font-family: Consolas, Courier New, Courier, monospace, sans-serif;
  font-size: small;
  font-weight: bold;
  background-color: #eee;
  padding: 10px;
}

#github ul {
  list-style-type: disc;
}

#github ol, ul {
  margin: 15px 5px;
  /*border: 1px solid black;*/
}

  #github ol > li, ul > li {
    margin: 0px;
    padding: 2px 10px 10px 10px;
    /*border: 1px solid red;*/
  }

  #github ol.tight, ul.tight {
    margin: 5px 5px;
    /*border: 1px solid black;*/
  }

    #github ol.tight > li, ul.tight > li {
      margin: 0px;
      padding: 2px 10px 2px 10px;
      /*border: 1px solid red;*/
    }

  #github ol.tighter, ul.tighter {
    margin: 0px 5px;
    /*border: 1px solid black;*/
  }

  #github ol.tighter > li, ul.tighter > li {
    margin: 0px;
    padding: 0px 10px 0px 10px;
    /*border: 1px solid red;*/
  }

  #github ol.tight h3, h4 {
    margin-top: 0px;
    padding-top: 0px;
  }

#github ul.tight h3, h4 {
  margin-top: 0px;
  padding-top: 0px;
}

#github .codeSnap {
  font-family: Consolas;
  background-color: #eee;
  padding: 10px;
}

#github blockquote {
  text-align: center;
}

#github spacer-25 {
  display: block;
  height: 25px;
}

#github spacer-15 {
  display: block;
  height: 15px;
}

#github spacer-10 {
  display: block;
  height: 10px;
}

#github spacer-5 {
  display: block;
  height: 5px;
}

#github .title {
  margin-bottom: 10px;
}

#github .subtitle {
  margin: 0px 20px 40px 40px;
}

#github caption-text {
  display: flex;
  justify-content: center;
  width: 8000px;
  margin: 0 auto;
}

#github .caption {
  margin-left: 5%;
  margin-right: 5%;
  padding: 15px 0px;
  text-align: center;
}

#github .center {
  align-content: center;
  /*display: inline-block;
  text-align:center;*/
}

#github .center2 {
  display: flex;
  justify-content: center;
}

#github .indent {
  margin: 5px 25px;
}

#github indent-block {
  display: block;
  margin: 0px 25px;
}

#github details {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

#github .spread {
  margin-top:25px;
  margin-bottom:25px;
}

#github tight-block {
  display: table-cell;
}

#github .left {
  float: left;
}

#github .right {
  float: right;
}

#github .clear {
  clear: both;
}

#github revised-date {
  font-size: small;
  position: relative;
  top: -10px;
  left: 0px;
}

#github more-less {
  display: block;
  text-decoration: underline;
  margin: 0px;
}

  #github more-less:hover {
    cursor: pointer;
  }

#github div.hider {
  display: none;
  padding: 15px 0px;
}

#github .photo {
  display: table-cell;
  border: 1px solid black;
  box-shadow: 5px 5px 2px #bbb;
  background-color: white;
  padding: 5px;
  margin: 10px;
}

#github .centered-photo {
  display: block;
  border: 1px solid black;
  box-shadow: 5px 5px 2px #bbb;
  background-color: white;
  padding: 5px;
  margin: 10px;
  text-align: center;
}

#github photo-container {
  margin: 10px;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
}

#github .strip-photo {
  display: table-cell;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid black;
  box-shadow: 5px 5px 2px #bbb;
  background-color: white;
  padding: 10px;
}

#github readings-block {
  display: block;
  margin: 15px 0px;
  padding: 10px 20px 20px 20px;
  background-color: cornsilk;
  color: maroon;
  box-shadow: 5px 5px 2px #bbb;
  border: 1px solid saddlebrown;
  border-radius: 3px;
}

  #github readings-block.tight {
    display: table-cell;
  }

  #github readings-block.tight > h3, h4 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

#github topic-block {
  display: block;
  margin: 15px 0px;
  padding: 10px 20px;
  background-color: cornsilk;
  color: maroon;
  box-shadow: 5px 5px 2px #bbb;
  border: 1px solid saddlebrown;
  border-radius: 3px;
}

  #github topic-block.tight {
    display: table-cell;
  }

#github notes-block {
  display: block;
  margin: 15px 0px;
  padding: 10px 20px;
  background-color: cornsilk;
  color: black;
  box-shadow: 5px 5px 2px #bbb;
  border: 2px solid saddlebrown;
  border-radius: 3px;
}

  #github notes-block.tight {
    display: table-cell;
  }

#github a-note {
  display: inline;
  margin: 0em;
  padding: 2px 4px;
  background-color: cornsilk;
  color: black;
  border: none;
}

#github .noteblock {
  display: block;
  padding: 10px 25px;
  background-color: cornsilk;
  color: black;
  border: none;
}

#github .tight {
  display: table-cell;
}

#github .note {
  display: inline;
  margin: 0em;
  padding: 2px 4px;
  background-color: cornsilk;
  border: 1px solid saddlebrown;
  color: black;
  /*border: none;*/
}

#github table {
  border-collapse: collapse;
  border: 2px solid black;
}

#github th, td {
  border: 1px solid black;
  vertical-align: top;
  padding: 10px;
}

#github th {
  background-color: #eee;
  text-align: left;
}

#github table.syllabus {
  background-color: #ffffff;
  border: 4px solid saddlebrown;
  margin-bottom: 25px;
}

  #github table.syllabus th {
    background-color: cornsilk;
    color: black;
    border: 2px solid saddlebrown;
  }

  #github table.syllabus td {
    border: 2px solid saddlebrown;
  }

    #github table.syllabus td.em {
      background-color: cornsilk;
      color: black;
    }

#github a:link {
  color: #000000;
}

#github a:visited {
  color: #000000;
}

#github a:hover {
  color: #000000;
}

#github a:active {
  color: #000000;
}

#github lectures-link {
  border: 2px solid saddlebrown;
  background-color: cornsilk;
  color: maroon;
  margin-top: 0px;
  margin-left: -34px;
  padding: 7px 10px;
  /*position: fixed;
  top: 35px;
  left: 15px;*/
}

  #github lectures-link a:link {
    color: maroon;
  }

  #github lectures-link a:visited {
    color: maroon;
  }

  #github lectures-link a:hover {
    color: maroon;
  }

  #github lectures-link a:active {
    color: maroon;
  }

#github .em {
  background-color: #eec;
  color: black;
}

#github td.em > a:link {
  color: black;
}

#github td.em > a:visited {
  color: black;
}

#github td.em > a:hover {
  color: black;
}

#github td.em > a:active {
  color: black;
}

#github under-construction {
  display: block;
  font-size: large;
  color: darkred;
  padding: 2px 10px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#github .largeText {
  font-size: large;
}

#github .bold {
  font-weight:bold;
}

#github div.tight {
  margin: 0px;
}

/*#github .lightItem {
  background-color: cornsilk;
  padding: 0.2em 0.5em;
  border: 1px solid black;
  margin: 5px 0px;
}

#github .darkItem {
  background-color: saddlebrown;
  color: white;
  padding: 0.2em 0.5em;
  border: 1px solid black;
  margin: 5px 0px;
}

#github .darkItem a {
  color: white;
}*/

#github flex-break {
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

#github .marginRight {
  margin-right: 10px;
}

#github .repoLink {
  float: right;
  padding-right: 50px;
  padding-top: 15px;
  font-weight: normal;
  font-size: 1.25em;
}

#github .border {
  border:1px solid black;
}

#github comment-block {
  display: block;
  margin: 5px 15px;
}

#github .lightItem {
  background-color: #faffff;
  padding: 0.2em 0.5em;
  border: 1px solid #2e5894;
  /*margin: 5px 0px;*/
  color: #2e5894;
}

/*#github div.lightItem a {
  color: #2e5894;
}*/

#github .lightItem a {
  color: #2e5894;
}

#github .lightItem a:link {
  color: #2e5894;
}

#github .lightItem a:visited {
  color: #2e5894;
}

#github .lightItem a:hover {
  color: #2e5894;
}

#github .lightItem a:active {
  color: #2e5894;
}


#github .darkItem {
  background-color: #2e5894;
  color: #faffff;
  padding: 0.2em 0.5em;
  border: 1px solid #2e5894;
  /*margin: 5px 0px;*/
  color: #f0ffff;
}

#github div.darkItem a {
  color: #faffff;
}

#github .darkerItem {
  background-color: #001440;
  color: #faffff;
  padding: 0.2em 0.5em;
  border: 1px solid #2e5894;
  /*margin: 5px 0px;*/
  color: #f0ffff;
}

#github div.darkerItem a {
  color: #faffff;
}

#github .darkItem a {
  color: #faffff;
}

#github hr {
  border-color: #2e5894;
}

#github h1 {
  color: #001440;
}

#github h2 {
  color: #001440;
}

#github h3 {
  color: #001440;
}

#github h4 {
  color: #001440;
}

#github flex-break {
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

/*#github #subtitle {
  margin-left:25px;
}*/

#github .pad10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

#github .code {
  display: inline;
  font-family: Consolas, sans-serif;
  font-weight: normal;
  font-stretch: condensed;
}

#github code-span {
  display: inline;
  font-family: Consolas, sans-serif;
  font-weight: normal;
  font-stretch: condensed;
}

#github page-note {
  display: inline;
  /*float:left;*/
  position: relative;
  top: 3px;
  left: 10px;
  /*margin-top: 0px;*/
  padding: 3px 10px;
  border: 1px solid saddlebrown;
  background-color: lightyellow;
  opacity: 0.8;
  color: saddlebrown;
  cursor: pointer;
}

#github .spread {
  margin-top: 25px;
  margin-bottom: 25px;
}

#github .spreadup {
  margin-top: 25px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#github header {
  padding: 0px;
  margin: 25px 0px;
  border: 1px solid #001440;
  background-color: #ddd;
}

#github hgroup {
  background-color: #2e5694;
  color: #faffff;
  padding:1px 25px;
  margin:0px;
}

#github #pagetitle {
  background-color: #2e5694;
  color: #faffff;
  padding: 2px 25px;
  margin: 0px;
  /*border: 1px solid black;*/
}

#github #title {
  background-color: #2e5694;
  color: #faffff;
  padding:0px;
  margin-top:5px;
  margin-bottom:10px;
  margin-left: 15px;
  font-size:1.5em;
  /*border: 1px solid black;*/
}

#github #title a {
  color: #faffff;
}

#github #subtitle {
  background-color: #2e5694;
  color: #faffff;
  padding:0px;
  margin:5px 35px 15px 50px;
  font-size:1em;
  /*border: 1px solid black;*/
}

#github #subtitle a {
  color: #faffff;
}

#github .repoLink {
  background-color: #2e5694;
  color: #faffff;
  margin: 10px 50px;
  padding:0px;
}

#github a.repoLink {
  color: #faffff;
}

/*#github header {
  margin-left: 0px;
  margin-right: 0px;
}*/

#github #lightpagetitle {
  background-color: #f0ffff;
  color: #1b294b;
  padding: 5px 25px;
  margin: 0px;
  border: 1px solid #1b294b;
}

#github #lighttitle {
  background-color: #f0ffff;
  color: #1b294b;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 15px;
}

#github #lightsubtitle {
  background-color: #f0ffff;
  color: #1b294b;
  padding: 0px;
  margin: 5px 35px 15px 50px;
  /*border: 1px solid black;*/
}

#github .lightrepoLink {
  background-color: #1b294b;
  color: #f0ffff;
  margin-top: 5px;
}

/*#github header {
  margin-left: 0px;
  margin-right: 0px;
}*/

#github #earthpagetitle {
  background-color: #e3dac9;
  color: #800020;
  padding: 5px 25px;
  margin: 0px;
  border: 1px solid maroon;
}

#github #earthtitle {
  background-color: #e3dac9;
  color: #3f000f;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 15px;
}

#github #earthsubtitle {
  background-color: #e3dac9;
  color: #3f000f;
  padding: 0px;
  margin: 5px 35px 15px 50px;
  /*border: 1px solid black;*/
}
#github .earthrepoLink {
  background-color: #3f000f;
  color: #e3dac9;
  margin-top: 5px;
}

#github .earth {
  background-color: #e3dac9;
  color: #3f000f;
}

#github .reverseEarth {
  background-color: #3f000f;
  color: #e3dac9
}

#github .disable {
  opacity:0.5;
}

#github span-1em {
  display: inline-block;
  width: 1em;
}

#github span-2em {
  display: inline-block;
  width: 2em;
}

#github span-3em {
  display: inline-block;
  width: 3em;
}

#github .smaller {
  font-size: 0.75em;
}

#github .larger {
  font-size: 1.25em;
}

#github .normal {
  font-weight:normal;
}

#github status-grid {
  display: grid;
  grid-gap: 0px 20px;
  grid-template-columns: auto auto;
}

#github status-itemLeft {
  padding: 0px 10px;
}

#github status-itemRight {
  padding: 0px 10px;
}
