/* StylesPageFrameThemeRust */

/* 
  Stylesheets should be included in the order:
    - StylesPageFrameTheme(Default).css
    - StylesPageFrameStructure.css
    - StylesPageFrameMenus.css
*/

:root {
  --light: #fefefa;
  --dark: #440000;
  --menu: #eee;
  --atten: #eeeeee;
  --hr: #440000;
  --border: #440000;
}

#github details {
  position: relative;
  z-index: 1000;
}

#github #pagetitle {
  background-color: var(--dark);
  color: var(--light);
  border: 1px solid var(--dark);
}

#github #title {
  background-color: var(--dark);
  color: var(--light);
}

#github #subtitle {
  background-color: var(--dark);
  color: var(--light);
  font-weight: normal;
}

#github #subtitle a {
  background-color: var(--dark);
  color: var(--light);
}


#github a.repoLink {
  background-color: var(--dark);
  color: var(--light);
}

#github .note {
  background-color: var(--dark);
  color: var(--light);
}

#github .ligthItem {
  background-color: var(--light);
  color: var(--dark);
}

#github .darkItem {
  background-color: var(--dark);
  color: var(--light);
}

#github summary {
  border: 1px solid var(--light);
}

#github a {
  color: var(--dark);
}

