/*-- Styles_Test.css --*/

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
  margin: 3rem 3rem 6rem 3rem;
  padding: 0px;
/*  z-index:1;
*/  font-family: Gotham, Tahoma, sans-serif;
  font-size: 20px;
  background-color: #fefefa;
  color: #030309;
}

#github .testborder {
  border: 2px solid green;
}

#github header {
  position:relative;
  z-index:1;
/*  opacity:0.99;
*/}

#github header {
  display: block;
  margin-top: 3.5rem;
  padding:0px;
  /*padding: 0.25rem 1.5rem 1.0rem 1.5rem;*/
  /*border: 1px solid #030309;*/
}

#github #pagetitle {
  margin: 0;
  padding: 0.5rem 1.0rem 1.0rem 1.0rem;
}

#github #title {
  margin: 0;
  padding: 0;
}

#github #subtitle {
  margin: 0;
  padding: 0;
}

#github #scrollwrapper {
  display:block;
  /*width:100%;*/
  /* position:relative;
  z-index:1000;*/
  /*width: 40rem;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;*/
}
#github scroll-menu {
  display: block;
  /*white-space: nowrap;*/
  position: fixed;
  top: 0.5em;
  z-index: 1000;
  padding: 10px 10px 4px 0px;
  background-color: #fefefa;
}

#github scroll-menu menu-item {
  display: inline-block;
  text-align: center;
  padding: 2px 5px;
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 2px 3px 2px #aaa;
}

#github scroll-menu menu-item drop-down {
  display: none;
}

#github scroll-menu menu-item:hover drop-down {
  display: block;
}

#github scroll-menu menu-item:hover {
  background-color: #ddd;
}

#github drop-down {
  display: block;
  position: absolute;
  top: 2.0em;
  z-index: 1000;
/*  opacity:0.99;
*/  padding: 2px 5px;
  cursor: pointer;
  border: 1px solid black;
  background-color: #fefefa;
}

#github ddmenu-item {
  display: block;
  position:relative;
  z-index:1000;
  text-align: center;
  padding: 2px 5px;
  cursor: pointer;
  text-align: left;
  /*border: 1px solid black;*/
}

#github ddmenu-item:hover {
  background-color: #ddd;
}

#github t-b {
  display:block;
  margin-top:0.75rem;
  margin-bottom:0.75rem;
  max-width: 55rem;
}

#github .spread {
  margin-top:1rem;
  margin-bottom:1rem;
}

#github h1, h2 {
  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
}

#github h3, h4, h5, h6 {
  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
}

#github hr {
  max-width: 55rem;
}

#github hr.spread {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#github badge-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*  width: calc(100vw - 12rem); */
}

#github badge-button {
  display: block;
  width: 18em;
  min-height: 6em;
  margin: 5px;
  box-shadow: #aaa 5px 5px 3px;
  cursor: pointer;
}

#github .badge {
  display: block;
  width: 14em;
  min-height: 8em;
  margin: 5px;
  box-shadow: #aaa 5px 5px 3px;
  cursor: pointer;
}

#github .badgebreak {
  flex-basis: 100%;
  height: 0px;
}

#github .left {
  float:left;
}

#github .right {
  float:right;
}

#github .clear {
  clear:both;
}

spacer-15 {
  display: block;
  height: 15px;
}

spacer-25 {
  display: block;
  height: 25px;
}

#github .indent {
  margin-left: 2em;
  margin-right:2em;
}

#github ol, ul {
  margin-top:1em;
  margin-bottom:1em;
}

#github ol > li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#github ul > li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#github info-bar {
  display:block;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 5px 40px;
  text-align: center;
  width: 100%;
  border-top: 1px solid #333;
  background-color: #eee;
  font-size: 16px;
  z-index: 100;
  cursor: pointer;
}

