/* StylesComponents.css */

#github .imgFrame {
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid var(--dark);
  padding: 10px;
  box-shadow: rgba(150, 150, 150, 0.4) 5px 5px;
}

#github .imgContr {
  clear: both;
  float: right;
  padding: 15px; 
  user-select:none;
  /* border:1px solid red; */
}

#github .imgTitle {
  font-size:0.85em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px 0px 10px 0px;
  /* border-bottom: 1px solid var(--dark); */
}

#github .lightElem {
  background-color: lightyellow;
  color: slategray;
}

#github .darkElem {
  background-color: slategray;
  color: lightyellow;
}

