/* StylesComponents.css */

#github .imgFrame {
  background-color: #ffffff;
  border: 1px solid black;
  padding: 10px;
  box-shadow: rgba(150, 150, 150, 0.4) 5px 5px;
}

#github .imgContr {
  clear: both;
  float: right;
  padding: 15px; 
  user-select:none;
  /*border:1px solid red;*/
}

#github .imgTitle {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px 0px 10px 0px;
}

#github .lightElem {
  background-color: lightyellow;
  color: slategray;
}

#github .darkElem {
  background-color: slategray;
  color: lightyellow;
}

