/* StylesPageFrameThemeBrown */

/* 
  Stylesheets should be included in the order:
    - StylesPageFrameTheme(Default).css
    - StylesPageFrameStructure.css
    - StylesPageFrameMenus.css
    - StylesPageFrameKeyboard.css
*/

:root {
  --light: #fefefa;
  --dark: #4c2f27;
  --menu: #eee;
  --atten: #f2f0e6;
  --hr: #4c2f27;
}

#github header {
  background-color: var(--atten);
  color: var(--dark);
}

#github .header {
  background-color: var(--atten);
  color: var(--dark);
}

#github #pagetitle {
  background-color: var(--atten);
  color: var(--dark);
  border: 1px solid var(--dark);
}

#github #title {
  background-color: #f2f0e6;
  color: #4c2f27;
}

#github #subtitle {
  background-color: #f2f0e6;
  color: #4c2f27;
  font-weight:normal;
}

#github #subtitle a {
  background-color: #f2f0e6;
  color: #4c2f27;
}


#github a.repoLink {
  background-color: var(--atten);
  color: var(--dark);
}


#github .note {
  background-color: var(--dark);
  color: var(--light);
}

#github .ligthItem {
  background-color: var(--light);
  color: var(--dark);
}

#github .darkItem {
  background-color: var(--dark);
  color: var(--light);
}

