/* StylesPageFrameThemeDefault */

/* 
  Stylesheets should be included in the order:
    - StylesPageFrameTheme(Default).css
    - StylesPageFrameStructure.css
    - StylesPageFrameMenus.css
*/

:root {
  --light: #fefefa;
  --dark: #382200;
  --menu: #eee;
  --atten: #ecdcb6;
  --hr: #004400;
  --border: #00aa00;
}
/*--atten: #e9dbc3;*/
/*--atten: #ffdd99;*/
/*--light: #fefefa;*/
/*--dark: #004400;*/
/* --atten::after #fff0b3 */
#github #pagetitle {
  background-color: var(--dark);
  color: var(--atten);
  border: 1px solid var(--dark);
}

#github #title {
  background-color: var(--dark);
  color: var(--atten);
}

#github #subtitle {
  background-color: var(--dark);
  color: var(--atten);
  font-weight: normal;
}

#github #subtitle a {
  background-color: var(--dark);
  color: var(--atten);
}

#github .banner {
  background-color: var(--dark);
  color: var(--atten);
  border: 2px solid var(--dark);
}
#github a.repoLink {
  background-color: var(--dark);
  color: var(--atten);
}

#github .note {
  background-color: var(--dark);
  color: var(--light);
}

#github .ligthItem {
  background-color: var(--light);
  color: var(--dark);
}

#github .darkItem {
  background-color: var(--dark);
  color: var(--atten);
}

/*#github summary {
  width: max-content;
  max-width: 100%;
  padding: 0.25em 0.75em;
  margin: 0px;
  font-weight: normal;
  cursor: pointer;
  user-select: none;
}
*/
#github a {
  color: var(--dark);
}

#github summary {
  position: relative;
  z-index: 1;
}

#github a {
  outline: none;
}

#github summary {
  outline: none;
}
