/* StylesComponents.css */

#github sizer-container {
  display: block;
  border: 1px solid black;
  position: absolute; /*top set in createSizer*/
  right: 10px;
  z-index: 5;
  width: 1.25em;
  background-color: slategray;
  color: lightyellow;
  cursor: pointer;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
  vertical-align: central;
  text-align: center;
}

#github clickable-container {
  clear: both;
  float: right;
}

#github bigger-button {
  display: block;
  vertical-align: central;
  border: 1px solid white;
}

#github smaller-button {
  display: block;
  vertical-align: central;
  border: 1px solid white;
}

#github hider-container {
  display: block;
  border: 1px solid yellow;
}

#github hider-text {
  /*transform:rotate(-90deg); transform-origin:55px 50px;*/
  /*height:1500px;*/
  color: lightyellow;
  background-color: slategray;
  font-weight: normal;
  font-family: Consolas, monospace;
}

#github image-wrapper {
  clear: both;
  float: right;
  padding-left: 15px;
}

#github image-container {
  float: right;
  padding-left: 15px;
  border: 1px solid black;
}

#github .lightElem {
  background-color: lightyellow;
  color: slategray;
}

#github .darkElem {
  background-color: slategray;
  color: lightyellow;
}

