/* StylesPageFrameThemeHome */

/* 
  Stylesheets should be included in the order:
    - StylesPageFrameTheme(Default).css
    - StylesPageFrameStructure.css
    - StylesPageFrameMenus.css
*/

:root {
  --light: #fefefa;
  --dark: #3b1f02;
  --menu: #efefef;
  --atten: #ffe3c2;
  --hr: #3b1f02;
  /*  --light: #fefefa;
  --dark: #140a00;
  --menu: #efefef;
  --atten: #fff2e5;
  --hr: #140a00;
*/
}
/* --menu: #eee */
#github #pagetitle {
  background-color: var(--atten);
  color: var(--dark);
  border: 1px solid var(--dark);
}

#github #title {
  background-color: var(--atten);
  color: var(--dark);
}

#github #subtitle {
  background-color: var(--atten);
  color: var(--dark);
  font-weight: normal;
}

#github #subtitle a {
  background-color: var(--atten);
  color: var(--dark);
}


#github a.repoLink {
  background-color: var(--atten);
  color: var(--dark);
}

#github .note {
  background-color: var(--dark);
  color: var(--light);
}

#github .ligthItem {
  background-color: var(--light);
  color: var(--dark);
}

#github .darkItem {
  background-color: var(--dark);
  color: var(--light);
}

#github .lightStyle {
  background-color: var(--atten);
  color: var(--dark);
  border: 1px solid var(--dark);
}

#github .darkStyle {
  background-color: var(--dark);
  color: var(--atten);
}

#github .attenItem {
  background-color: var(--atten);
  color: var(--dark);
}

/*#github summary {
  width: max-content;
  max-width: 100%;
  padding: 0.25em 0.75em;
  margin: 0px;
  font-weight: normal;
  cursor: pointer;
  user-select: none;
}
*/
#github a {
  color: var(--dark);
}

#github summary {
  position: relative;
  z-index: 1;
}

#github a {
  outline: none;
}

#github summary {
  outline: none;
}
