/* StylesPageFrameThemeDefault */

/* 
  Stylesheets should be included in the order:
    - StylesPageFrameTheme(Default).css
    - StylesPageFrameStructure.css
    - StylesPageFrameMenus.css
*/

:root {
  --light: #fefefe;
  --dark: #010101;
}


#github .ligthItem {
  background-color: var(--light);
  color: var(--dark);
}

#github .darkItem {
  background-color: var(--dark);
  color: var(--light);
}

