/*
  -------------------------------------------------------------------
   SplitterBar.css 
    - styles for draggable splitter with one pane on each side

   Jim Fawcett, Emeritus Teaching Professor, Syracuse University
  -------------------------------------------------------------------
*/
body
{
  font-family: Tahoma, sans-serif;
  padding:25px;
}

splitter-container {
  display: flex;
  float:right;
  /*width: min-content;*/
  /*width: 20%;*/
  flex-basis: auto;          /* uncomment to enable growing height to fit content */
  /*height: 300px;*/         /* comment out to enable growing height to fit content*/
  border: 3px solid #3f000f;
}

splitter-bar {
  cursor: col-resize;
  background-color:#3f000f;
  width: 10px;
  min-width:10px;
  flex: 1 10px 0px;
}

second-item {
  display: flex;
  /*flex-wrap: wrap;*/
  /*flex-basis: 0;
  flex-grow: 1;*/
  flex: 1 1 auto;
  padding:0px;
  /*overflow-x: auto;*/
  background-color: #eee;
  width: 40%;
  /*min-width:10%;*/ /* uncomment to prevent second-item from disappearing completely */
  user-select: none;
}