/*
 * StylesLightBrownTheme.css
 * ver 1.0 - 29 Aug 2015
 * Jim Fawcett, Syracuse Univ
 */

/* light blue theme */

#github .maxWidth {
  width: 100%;
}

#github .noScrollX {
  overflow-x: hidden;
}

/* light blue theme */

#github .lightItem {
  /*display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  background-color: #fef9ee;
  color: #5c2107;
  padding: 3px 10px;
  border: 1px solid #5c2107;
}

#github light-item {
  /*display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  background-color: #fef9ee;
  color: #5c2107;
  padding: 3px 10px;
  border: 1px solid #5c2107;

}

#github .darkItem {
  /*display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  background-color: #5c2107;
  color: #fef9ee;
  padding: 3px 10px;
  border: 1px solid #fef9ee;
}

#github .darkText {
  color: #5c2107;
}

#github hr {
  border-color: #5c2107;
}

#github num-cont { color: #5c2107; }

#github dark-item {
  /*display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  background-color: #5c2107;
  color: #fef9ee;
  padding: 3px 10px;
  border: 1px solid #fafaff;
}

#github .raised {
  box-shadow: 3px 3px 5px #6a432d;
}

#github {
  /*background-color: #f2f3f4;*/ /* anti-flash white */
  /*background-color: #faebd7; /* antique white */
  /*background-color: #f0ffff; /* azure mist */
  background-color: #fefefa; /* baby powder */
  color: #002147;
}

  #github .darkBorder {
    border: 1px solid #5c2107;
  }

  #github .lightBorder {
    border: 1px solid #5c2107;
  }

  #github #pagetitle {
    background-color: #5c2107;
    color: #5c2107;
  }

  #github #title {
    background-color: #5c2107;
    color: #fef9ee;
  }

  #github #subtitle {
    background-color: #5c2107;
    color: #fef9ee;
  }

  #github a.repoLink {
    background-color: #5c2107;
    color: #fef9ee;
  }

    #github a.repoLink:link {
      background-color: #5c2107;
      color: #fef9ee;
    }

    #github a.repoLink:visited {
      background-color: #5c2107;
      color: #fef9ee;
    }

    #github a.repoLink:hover {
      background-color: #5c2107;
      color: #fef9ee;
    }

    #github a.repoLink:active {
      background-color: #5c2107;
      color: #fef9ee;
    }

  #github h1 {
    color: #5c2107;
  }

  #github h2 {
    color: #5c2107;
  }

  #github h3 {
    color: #5c2107;
  }

  #github h4 {
    color: #5c2107;
  }

  #github hr {
    color: #4a1a06;
  }

  #github a {
    color: #5c2107;
  }

    #github a:link {
      color: #5c2107;
    }

    #github a:visited {
      color: #5c2107;
    }

    #github a:hover {
      color: #5c2107;
    }

    #github a:active {
      color: #5c2107;
    }

  #github .lightItem a {
    color: #5c2107;
  }

    #github .lightItem a:link {
      color: #5c2107;
    }

    #github .lightItem a:visited {
      color: #5c2107;
    }

    #github .lightItem a:hover {
      color: #5c2107;
    }

    #github .lightItem a:active {
      color: #5c2107;
    }

  #github .darkItem a {
    color: #fef9ee;
  }

    #github .darkItem a:link {
      color: #fef9ee;
    }

    #github .darkItem a:visited {
      color: #fef9ee;
    }

    #github .darkItem a:hover {
      color: #fef9ee;
    }

    #github .darkItem a:active {
      color: #fef9ee;
    }