:root {
  --light: #fefefe;
  --dark: #010101;
}
body {
  padding: 0em;
  margin: 0em;
  font-family: Tahoma, sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  /*position: relative;*/
}

#github main {
  padding:0em 1em;
}

#github t-b {
  display: block;
  max-width: 55rem;
  margin: 1.5em;
}
#github c-b {
  font-family: Consolas, monospace, sans-serif;
  font-weight: normal;
  font-size: 1.0em;
}
#github .indent {
  margin-left:1em;
  margin-right:1em;
}
#github .vpad5 {
  padding-top:5px;
  padding-bottom: 5px;
}

#github .undef {
  opacity: 0.5;
}
#github .right {
  float: right;
}
#github .left {
  float: left;
}
#github .clear {
  clear:both;
}

#github #Next {
  display: none;
}

#github #Prev {
  display: none;
}

#github #modified {
  display: none;
}

#github #about {
  display: none;
  position: fixed;
  bottom: 5.5em;
  right: 12em;
  padding: 0.25em 0.5em 0.5em 0.5em;
  background-color: var(--light);
  color: var(--dark);
  border: 1px solid var(--dark);
}

#github #hlp {
  display: none;
  position: fixed;
  bottom: 11.5em;
  right: 12em;
  padding: 0.25em 0.5em 0.5em 0.5em;
  background-color: var(--dark);
  color: var(--light);
  border: 1px solid var(--dark);
}

#github page-frame {
  position: fixed;
  top: 0em;
  bottom: 0em;
  left: 0em;
  right: 0em;
  display: flex;
  flex-direction: column;
  /*height: 100vh;*/
}

#github frame-header {
  display: flex;
  flex-direction: row;
  /*position:fixed;
      top:0em;
      left:0em;
      right:0em;*/
  height: 2.0em;
  border-bottom: 1px solid var(--dark);
  align-items: center;
  user-select: none;
}

#github main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--light);
  color: var(--dark);
  overflow: auto;
  /*border: 3px dotted purple;*/
}

#github content {
  display: block;
  padding: 1em 2em;
  /*flex: 1;*/
  /*border:1px solid black;*/
}

#github page-TOC {
  position: fixed;
  right: 0em;
  bottom: calc(2.0em);
  max-height: calc(100% - 2em - 6px);
  padding-right: 1.0em;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /*width:5em;*/
  background-color: var(--light);
  color: var(--dark);
  border: 3px groove black;
  /*border-bottom: none;*/
}

#github toc-elem {
  display: block;
  margin: 0.2em 0.5em;
}

#github page-sections {
  position: fixed;
  right: 0em;
  bottom: calc(2.0em);
  display: flex;
  flex-direction: row-reverse;
  max-width: calc(100% - 6px);
  overflow-x: auto;
  /*height:2.0em;*/
  background-color: var(--light);
  color: var(--dark);
  border: 3px groove var(--dark);
  /*border-bottom: none;*/
}

#github sec-elem {
  display: block;
  padding: 0.5em 0.5em;
}

#github frame-footer {
  display: flex;
  flex-direction: row-reverse;
  /*position: fixed;
      bottom: 0em;
      left: 0em;
      right: 0em;*/
  height: 2.0em;
  border-top: 1px solid black;
  align-items: center;
  user-select: none;
}

#github menu-elem {
  display: block;
  padding: 0.25em 1.0em;
  cursor: pointer;
}

#github menu-elem:hover {
  background-color: #ddd;
}

#github div.navbar {
  /*position: fixed;*/
  top: 0em;
  left: 0em;
  right: 0em;
  display: flex;
  flex-basis: 100%;
  height: 2em;
  padding: 0em 1.5em;
  background-color: var(--light);
  color: var(--dark);
  border-bottom: 1px solid var(--dark);
}

#github div.navbar a:link {
  color: #010101
}

#github div.menuItem {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0em 0.5em;
  cursor: pointer;
}

#github div.menuItem a {
  text-decoration: none;
  color: var(--dark);
}

#github div.menuItem:hover {
  background-color: #dedcde;
}

#github div.menuItem:hover .dropdown {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

#github div.dropdown {
  display: none;
  position: absolute;
  top: 1.95em;
  left: 0em;
  background-color: var(--light);
  color: var(--dark);
  box-shadow: 8px 8px 8px -2px #aaa;
  border: 1px solid var(--dark);
  z-index: 10000;
  overflow-y: auto;
  max-height: calc(100vh - 5em);
}
#github div.dropdown details {
  margin-right: 0.5em;
}

#github div.ddItem {
  padding: 0.05em 0.5em;
  font-size: 0.9em;
}

#github div.ddItem a {
  color: var(--dark);
}

#github div.dropdown details div.ddDetails {
  margin-left: -0.5em;
  margin-right: 0.5em;
}

#github div.ddItem:hover {
  background-color: #dedcde;
}

#github div.ddDetails {
  background-color: #dedcde;
  margin-right: 0.5em;
}

#github div.ddDetails:hover {
  background-color: var(--light);
  padding-right: 0.5em;
}

#github div.dropdown details summary {
  user-select: none;
}

#github .ligthItem {
  background-color: var(--light);
  color: var(--dark);
}

#github .darkItem {
  background-color: var(--dark);
  color: var(--light);
}

#github div.ddLabel {
  padding: 0.25em 0.5em;
  margin-bottom: 0.25em;
}

#github table {
  border-collapse:collapse;
  user-select:none;
}

#github table th, td {
  padding:0.25em 0.75em 0.5em 0.75em;
  border: 1px solid black;
  border-collapse: collapse;
  vertical-align:top;git
}

#github table a {
  color: black;
}