/*
  StylesPageFrameDefaults.css
*/
/* 
  Stylesheets should be included in the order:
    - StylesPageFrameTheme(Default).css
    - StylesPageFrameStructure.css
    - StylesPageFrameMenus.css
    - StylesPageFrameKeyboard.css
*/
:root {
  --light: #fefefa;
  --dark: #4c2f27;
  --menu: #eee;
  --atten: #f2f0e6;
  --hr: #4c2f27;
  --panelc: #4c2f27;
  --panelbg: #f2f0e6;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
  z-index: 1;
  margin: 0em;
  padding: 1em 13em;
  font-family: Tahoma, sans-serif;
  font-size: 14pt;
  line-height:1.25em;
}

#github content {
  /*min-width: 47em;*/
  min-width: 35em;  /* 07/09/2024 */
  /*-- intentionally empty --*/
}
#github #navbar {
  background-color: var(--menu);
  width:100%;
}
#github h1 {
  font-size: 1.5em;
}

#github h2 {
  font-size: 1.25em;
}

#github h3 {
  font-size: 1.10em;
}

#github h4 {
  font-size: 1.00em;
}

#github h5 {
  font-size: 0.90em;
}

#github h6 {
  font-size: 0.85em;
}

#github h3 {
  margin-top: 1.0em;
  margin-bottom: 0.75em;
}

#github h4 {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

#github header h1 {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

#github header h3 {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  font-size:0.85em;
}
#github #pagetitle {
  background-color: var(--dark);
  color: var(--light);
}
#github header .indent {
  margin-left:2em;
}
#github #title {
  background-color: var(--dark);
  color: var(--light);
}

#github #subtitle {
  background-color: var(--dark);
  color: var(--light);
  user-select:none;
}

#github a.repoLink {
  background-color: var(--dark);
  color: var(--light);
}

#github hr {
  max-width: 55em;
  border-bottom:1px solid var(--hr);
  border-top:none;
  border-left:none;
  border-right:none;
}

#github hr.spread {
  margin-top:2em;
  margin-bottom: 2em;
}

#github a {
  color: var(--dark);
}

#github .undefined {
  opacity: 0.3;
}

#github .lightItem {
  background-color: var(--light);
  color: var(--dark);
  border: 2px solid var(--dark);
}

#github .darkItem {
  background-color: var(--dark);
  color: var(--light);
  border:2px solid var(--light);
}

#github .border {
  border: 1px solid var(--dark);
}

#github badge-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.85em;
  color:black;
}

#github badge-button {
  display: block;
  width: 18em;
  min-height: 6em;
  border-radius: 10px;
  box-shadow: #aaa 5px 5px 3px;
  cursor: pointer;
}

#github .badge {
  display: block;
  padding: 10px 15px 15px 15px;
  margin: 5px;
  border: 1px solid #4c2f27;
  border-radius: 5px;
  box-shadow: #aaa 5px 5px 3px;
  cursor: pointer;
}

#github .badgebreak {
  flex-basis: 100%;
  height: 0px;
}

#github .small {
  font-size:0.85em;
}

#github h1, h2, h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#github ol {
  margin: 0.5em 2em;
}

#github ol > li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  max-width:55em;
}

#github ul {
  margin: 0.5em 2em;
}

#github ul > li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  max-width: 55em;
}

#github ol.tight {
  margin:0.2em 1em;
}

#github ol.tight > li {
  margin-top: 0.05em;
  margin-bottom: 0.05em;
  max-width: 55em;
}

#github ul.tight {
  margin: 0.2em 1em;
  margin-left:2em;
}

#github ul.tight > li {
  margin-top: 0.05em;
  margin-bottom: 0.05em;
  max-width: 55em;
}

#github next-prev {
  display: block;
  position: fixed;
  top: 0.35em;
  right: 0.45em;
  z-index: 100;
  padding: 3px 10px 5px 10px;
  background: #000;
  color: #fefefa;
  border: 2px solid orange;
}

#github next-prev a {
  color: white;
}

#github .tight {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    padding-top:0px; padding-bottom:0px;
}

#github text-block, t-b {
  display: block;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  max-width:50em;
  user-select:none;
}
#github .t-b {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  max-width: 50em;
  user-select: none;
}
#github t-ub {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  width: calc(100vw - 12em);
  border:2px solid green;
}
#github .t-ub {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  width:calc(100vw - 12em);
  border:2px solid green;
}
#github li {
  max-width: 55em;
}
#github li.ub {
  max-width:100%;
}
#github notice-block, n-b {
  display:block;
  width:max-content;
  padding:3px 5px;
  margin-top:3px;
  margin-bottom:3px;
  border:2px solid #440000;
}
#github .mbz {
  margin-bottom: 0px;
}
#github .mtz {
  margin-top: 0px;
}
#github tightText-block, tt-b {
  display: block;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}
#github boundedBlock-full, bb-full {
  display: block;
  max-width: calc(100vw - 12em);
}
#github .bb-full {
  display: block;
  max-width: calc(100vw - 12em);
}

#github .photowidth {
  display: block;
  max-width: calc(100vw - 12em);
}
#github boundedBlock-60rem, bb-60 {
  display: block;
}

#github .bb-60 {
  display: block;
}
#github boundedBlock-55rem, bb-55 {
  display: block;
}
#github .bb-55 {
  display: block;
}
#github boundedBlock-50rem, bb-50 {
  display: block;
}
#github .bb-50 {
  display: block;
}
#github indentedText-block, it-b {
  display: block;
  margin: 0.25em 1.0em;
}
#github boundedText-block, bt-b {
  display: block;
  margin-top:0.75rem;
  margin-bottom:0.75rem;
  max-width: 55rem;
}
#github summary {
  width: max-content;
  max-width: 100%;
  user-select: none;
  padding: 0.25em 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: normal;
  cursor: pointer;
}
#github details {
  user-select: none;
  margin: 0px;
}

#github bounded-block, b-b, .b-b {
  max-width:60rem;
}
#github text-span, t-s {
  font-weight: normal;
  font-size: 1.0em;
  font-family: Tahoma;
  white-space: normal;
}

#github normaltext-span, nt-s {
  font-weight:normal;
  font-style:normal;
  font-size:0.9em;
  font-family:Tahoma;
  color:black;
}

#github .notice {
  font-size: 1.1em;
  font-weight: bolder;
  font-style: italic;
  font-family: Consolas, sans-serif;
  letter-spacing: 0px;
  word-spacing: -2px;
  color: #440000;
}
#github n-s {
  display: inline;
  font-size: 1.1em;
  font-weight: bolder;
  font-style: italic;
  font-family: Consolas, sans-serif;
  letter-spacing: 0px;
  word-spacing: -2px;
  /*font-stretch:condensed;*/
  /*transform: scale(.5, 1);*/
  color: #440000;
}

#github code-block, c-b {
  display: block;
  white-space: pre;
  overflow: hidden;
  font-family: Consolas, monospace;
  font-weight: bold;
  font-size: 1.0em;
}
#github .code-block {
  display: block;
  white-space: pre;
  overflow: hidden;
  font-family: Consolas, monospace;
  font-weight: bold;
  font-size: 1.0em;
}

#github code-span, c-s {
  display: inline;
  font-family: Consolas, monospace;
  font-weight: bold;
  font-size: 1.0em;
  /*font-stretch: condensed;*/
  letter-spacing: 0px;
  word-spacing: -5px;
}
#github codelarge-span, cl-s {
  font-family: Consolas, monospace;
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: -1px;
  word-spacing: -5px;
}
#github .codeTable {
  table-layout: fixed;
  border-collapse: collapse;
  padding: 10px;
  border: 2px solid #440000;
  width: calc(100vw - 12em);
}
#github table.codeTable > tr {
  border:none;
}
#github defn-outerBlock, .defn-outerBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
  width: calc(100vw - 12em);
  border: none;
}
#github defn-block {
  display: flex;
  flex-direction: column;
  border: 2px solid #440000;
  margin: 3px;
  width: max-content;
  overflow-x: auto;
}

#github .defn-block {
  display: flex;
  flex-direction: column;
  border: 2px solid #440000;
  margin: 3px;
  width: max-content;
  overflow-x: auto;
}

#github defn-head {
  display: block;
  border: none;
  border-bottom: 2px solid #440000;
  padding: 0.25em 1em;
  font-size: 1.0em;
  font-weight: bolder;
  font-style: italic;
  font-family: Consolas, sans-serif;
  color: #440000;
}

#github .defn-head {
  display: block;
  border: none;
  border-bottom: 2px solid #440000;
  padding: 0.25em 1em;
  font-size: 1.0em;
  font-weight: bolder;
  font-style: italic;
  font-family: Consolas, sans-serif;
  color: #440000;
}

#github defn-body {
  display: block;
  border: none;
  padding: 0.5em 1.0em;
  font-size: 0.9em;
}

#github .defn-body {
  display: block;
  border: none;
  padding: 0.5em 1.0em;
  font-size: 0.9em;
}

#github defn-code {
  display: block;
  border: none;
  padding: 0.0em 1.0em;
  white-space: pre;
  font-family: Consolas, monospace;
  font-weight: bold;
  font-size: 0.8em;
  user-select:text;
}
#github .defn-code {
  border: none;
  padding: 0.0em 1.0em;
  white-space: pre;
  font-family: Consolas, monospace;
  font-weight: bold;
  font-size: 0.8em;
}
#github viewWidth, vw {
  width: calc(100vw - 12em);
}
#github .viewWidth, .vw {
  width: calc(100vw - 12em);
}
#github Table.tdefn {
  table-layout: fixed;
  border: 2px solid #440000;
  border-collapse: collapse;
}
#github th.tdefn {
  padding: 10px 15px;
  background-color: #fefefa;
  color: #440000;
  border-bottom: 2px solid #440000;
  font-size: 1.1em;
  font-weight: bolder;
  font-style: italic;
  font-family: Consolas, sans-serif;
}
#github td.tdefn {
  vertical-align:top;
  padding:0px;
  margin:0px;
}
#github tdefn-block, .tdefn-block {
  display: flex;
  flex-direction: column;
  margin: 0em;
  padding: 0em;
  width: max-content;
  overflow-x: auto;
}

#github tdefn-head, .tdefn-head {
  display: block;
  padding: 0.5em 1em;
  font-size: 1.1em;
  font-weight: bolder;
  font-style: italic;
  font-family: Consolas, sans-serif;
  color: #440000;
}

#github tdefn-block > tdefn-body, .tdefn-body {
  display: block;
  flex:1;
  padding: 0.5em 1.0em;
}

#github tdefn-block > tdefn-code, .tdefn-code {
  display: block;
  flex-basis:100%;
  width:max-content;
  padding: 0.0em 1.0em;
  white-space: pre;
  font-family: Consolas, monospace;
  font-weight: bold;
  font-size: 0.9em;
}
#github .defnBorder {
  border: 2px solid #440000;
}
#github .defnBorderTop {
  border-top: 2px solid #440000;
}
#github .defnBorderBottom {
  border-bottom: 2px solid #440000;
}
#github .defnBorderLeft {
  border-left: 2px solid #440000;
}
#github .defnBorderRight {
  border-right: 2px solid #440000;
}
#github .noBorder {
  border:none;
}
#github .noBorderLeft {
  border-left:none;
}
#github .noBorderRight {
  border-right:none;
}
#github .noBorderTop {
  border-top:none;
}
#github .noBorderBottom {
  border-bottom:none;
}
#github .autoX {
  overflow-x: auto;
}
#github .flex {
  display:flex;
}
#github .left {
  float: left;
}
#github .right {
  float: right;
}
#github .clear {
  clear: both;
}
#github .indent {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
#github indent-block, i-b {
  display:block;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
#github .pad5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

#github .pad10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

#github .pad10-15 {
  padding: 10px 15px;
}
#github .pad15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
#github .pad20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
#github .pad25 {
  padding-top: 25px;
  padding-bottom: 25px;
}
#github spacer-5px, s-5px {
  display: block;
  height: 5px;
}

#github spacer-10px, s-10px {
  display: block;
  height: 10px;
}

#github spacer-15px, s-15px {
  display: block;
  height: 15px;
}

#github spacer-20px, s-20px {
  display: block;
  height: 20px;
}

#github spacer-25px, s-25px {
  display: block;
  height: 25px;
}

#github spacer-quarterEm, s-quarterEm {
  display: block;
  height: 0.25em;
}

#github spacer-halfEm, s-halfEm {
  display: block;
  height: 0.5em;
}

#github spacer-1em, s-1em {
  display: block;
  height: 1em;
}

#github spacer-2em, s-2em {
  display: block;
  height: 2em;
}

#github spacer-3em, s-3em {
  display: block;
  height: 3em;
}

#github spacer-4em, s-4em {
  display: block;
  height: 4em;
}

#github spacer-5em, s-5em {
  display: block;
  height: 5em;
}

#github .grey, .gray {
  background:#eee;
  border:1px solid #333;
  padding: 3px 10px;
  width:max-content;
}

#github toc-block, toc-b {
  display: block;
  position: fixed;
  bottom: 1.6em;
  right: 0.2em;
  z-index: 100;
  padding: 3px 10px 5px 10px;
  background: #000;
  color: #fefefa;
  border: 4px groove orange;
}

#github #toc a {
  color: black;
}

#github up-b {
  display: none;
  position: absolute;
  bottom: 1.65em;
  right: -0.20em;
  color: #fefefa;
  background-color: #222;
  padding: 3px 10px 5px 10px;
  border: 4px groove orange;
}
#github #chaps  a {
  color: #fefefa;
}

#github rt-b {
  display: none;
  width: max-content;
  position: absolute;
  bottom: -0.18em;
  right: 11.40em;
  background-color: #222;
  padding: 3px 10px 5px 10px;
  border: 4px groove orange;
}
#github #sects a {
  color: #fefefa;
}

#github under-construction {
  display: flex;
  width:max-content;
  padding: 5px 25px 10px 25px;
  border: 2px solid #440000;
  font-size: 1.25em;
}

#github .figureHeader {
  display: inline-block;
  font-weight: bold;
  font-family: 'Comic Sans MS, Tahoma';
  background-color: #ddd;
  width: 100%;
  padding: 5px 0px;
}

#github summary {
  white-space:nowrap;
}

#github details {
  position:relative;
  z-index: 1;
}

#github summary {
  position: relative;
  z-index: 1;
  outline:none;
}

#github a {
  outline:none;
}

#github .outlink {
  background-color: var(--dark);
  color: var(--light);
  padding-left: 0.5em;
  padding-bottom: 0.25em;
  margin-right: 1em;
  margin-top: 0.25em;
}

#github .inset {
  margin:0.25em 1.5em;
}

#github #about {
  cursor:pointer;
}

#github .noteitem {
  width: max-content;
  background-color: var(--dark);
  color: var(--light);
  padding: 0.1em 0.25em;
}

