/*
  Styles for page bodies
  - Menu styling resides in the StylesMenu.css page
*/
body {
  padding: 40px 40px 70px 40px;
  margin: 0px;
  font-family: Tahoma, sans-serif;
  font-size: medium;
  border-left: 10px solid #eee;
  border-right: 10px solid #eee;
}

.codeSnap {
  font-family: Consolas, Courier New, Courier, monospace;
  font-size: small;
  font-weight: bold;
  background-color: #eee;
  padding: 10px;
}

ul {
  list-style-type: disc;
}

ol, ul {
  margin: 15px 5px;
  /*border: 1px solid black;*/
}

ol > li, ul > li {
  margin: 0px;
  padding: 2px 10px 10px 10px;
  /*border: 1px solid red;*/
}

ol.tight, ul.tight {
  margin: 5px 5px;
  /*border: 1px solid black;*/
}

ol.tight > li, ul.tight > li {
  margin: 0px;
  padding: 2px 10px 2px 10px;
  /*border: 1px solid red;*/
}

ol.tighter, ul.tighter {
  margin: 0px 5px;
  /*border: 1px solid black;*/
}

ol.tighter > li, ul.tighter > li {
  margin: 0px;
  padding: 0px 10px 0px 10px;
  /*border: 1px solid red;*/
}

ol.tight h3, h4 {
  margin-top:0px;
  padding-top:0px;
}

ul.tight h3, h4 {
  margin-top: 0px;
  padding-top: 0px;
}

.codeSnap {
  font-family: Consolas;
  background-color: #eee;
  padding: 10px;
}

blockquote {
  text-align:center;
}

spacer-25 {
  display: block;
  height: 25px;
}

spacer-15 {
  display: block;
  height: 15px;
}

spacer-10 {
  display: block;
  height: 10px;
}

spacer-5 {
  display: block;
  height: 5px;
}

.title {
  margin-bottom: 10px;
}

.subtitle {
  margin:0px 20px 40px 40px;
}
caption-text {
  display: flex;
  justify-content: center;
  width: 8000px;
  margin: 0 auto;
}

.caption {
  margin-left: 5%;
  margin-right: 5%;
  padding: 15px 0px;
  text-align:center;
}

.center {
  align-content: center;
  /*display: inline-block;
  text-align:center;*/
}

.center2 {
  display:flex;
  justify-content:center;

}

.indent {
  margin: 5px 25px;
}

indent-block {
  display: block;
  margin: 0px 25px;
}

.left { float: left; }
.right { float: right; }
.clear { clear: both; }

revised-date {
  font-size:small;
  position: relative;
  top: -10px;
  left: 0px;
}

more-less {
  display: block;
  text-decoration: underline;
  margin: 0px;
}

more-less:hover {
  cursor: pointer;
}

div.hider {
  display: none;
  padding: 15px 0px;
}

.photo {
  display: table-cell;
  border: 1px solid black;
  box-shadow: 5px 5px 2px #bbb;
  background-color: white;
  padding: 5px;
  margin: 10px;
}

.centered-photo {
  display: block;
  border: 1px solid black;
  box-shadow: 5px 5px 2px #bbb;
  background-color: white;
  padding: 5px;
  margin: 10px;
  text-align: center;
}

photo-container {
  margin: 10px;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
}

.strip-photo {
  display: table-cell;
  width: 98%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid black;
  box-shadow: 5px 5px 2px #bbb;
  background-color: white;
  padding: 10px;
}

readings-block {
  display: block;
  margin: 15px 0px;
  padding: 10px 20px 20px 20px;
  background-color: cornsilk;
  color: maroon;
  box-shadow: 5px 5px 2px #bbb;
  border: 1px solid saddlebrown;
  border-radius: 3px;
}

readings-block.tight {
  display: table-cell;
}

readings-block.tight > h3, h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

topic-block {
  display: block;
  margin: 15px 0px;
  padding: 10px 20px;
  background-color: cornsilk;
  color: maroon;
  box-shadow: 5px 5px 2px #bbb;
  border: 1px solid saddlebrown;
  border-radius: 3px;
}

topic-block.tight {
  display: table-cell;
}

notes-block {
  display: block;
  margin: 15px 0px;
  padding: 10px 20px;
  background-color: cornsilk;
  color: black;
  box-shadow: 5px 5px 2px #bbb;
  border: 2px solid saddlebrown;
  border-radius: 3px;
}

notes-block.tight {
  display: table-cell;
}

a-note {
  display: inline;
  margin: 0em;
  padding: 2px 4px;
  background-color: cornsilk;
  color: black;
  border: none;
}

.noteblock {
  display: block;
  padding: 10px 25px;
  background-color: cornsilk;
  color: black;
  border: none;
}

.tight {
  display: table-cell;
}

.note {
  display: inline;
  margin: 0em;
  padding: 2px 4px;
  background-color: cornsilk;
  border: 1px solid saddlebrown;
  color: black;
  /*border: none;*/
}

table {
  border-collapse: collapse;
  border: 2px solid black;
}

th, td {
  border: 1px solid black;
  vertical-align: top;
  padding: 10px;
}

th {
  background-color: #eee;
  text-align: left;
}

table.syllabus {
  background-color: #ffffff;
  border: 4px solid saddlebrown;
  margin-bottom: 25px;
}

table.syllabus th {
  background-color: cornsilk;
  color: black;
  border: 2px solid saddlebrown;
}

table.syllabus td {
  border: 2px solid saddlebrown;
}

table.syllabus td.em {
  background-color: cornsilk;
  color: black;
}

a:link {
  color: #000000;
}

a:visited {
  color: #000000;
}

a:hover {
  color: #000000;
}

a:active {
  color: #000000;
}

lectures-link {
  border: 2px solid saddlebrown;
  background-color: cornsilk;
  color: maroon;
  margin-top: 0px;
  margin-left: -34px;
  padding: 7px 10px;
  /*position: fixed;
  top: 35px;
  left: 15px;*/
}
lectures-link a:link {
  color: maroon;
}
lectures-link a:visited {
  color: maroon;
}
lectures-link a:hover {
  color: maroon;
}
lectures-link a:active {
  color: maroon;
}
.em {
  background-color: #eec;
  color: black;
}

td.em > a:link {
  color: black;
}

td.em > a:visited {
  color: black;
}

td.em > a:hover {
  color: black;
}

td.em > a:active {
  color: black;
}

under-construction {
  display:block;
  font-size:large;
  color: darkred;
  padding:2px 10px;
  margin-top:25px;
  margin-bottom:25px;
}
