/*
 * StylesLightBrownTheme.css
 * ver 1.0 - 29 Aug 2015
 * Jim Fawcett, Syracuse Univ
 */

/* light blue theme */

#github .maxWidth {
  width: 100%;
}

#github .noScrollX {
  overflow-x: hidden;
}

/* light blue theme */

#github .lightItem {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #e0f0ff;
  color: #001440;
  padding: 3px 10px;
  border: 1px solid #2e6594;
}

#github light-item {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #e0f0ff;
  color: #001440;
  padding: 3px 10px;
  border: 1px solid #2e6594;
}

#github .darkItem {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #2e6594;
  color: #fdfdff;
  padding: 3px 10px;
  border: 1px solid #fcfcff;
}

#github dark-item {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #2e6594;
  color: #fdfdff;
  padding: 3px 10px;
  border: 1px solid #fcfcff;
}

#github .raised {
  box-shadow: 3px 3px 5px #6a432d;
}

#github {
  /*background-color: #f2f3f4;*/ /* anti-flash white */
  /*background-color: #faebd7; /* antique white */
  /*background-color: #f0ffff; /* azure mist */
  background-color: #fefefa; /* baby powder */
  color: #2e6594;
}

  #github .darkBorder {
    border: 1px solid #39569c; /* #2e6594 */
  }

  #github .lightBorder {
    border: 1px solid #fdfdff;
  }

  #github #pagetitle {
    background-color: #39569c;
    color: #fdfdff;
  }

  #github #title {
    background-color: #39569c;
    color: #fdfdff;
  }

  #github a.repoLink {
    background-color: #39569c;
    color: #fdfdff;
  }

  #github h1 {
    color: #39569c;
  }

  #github h2 {
    color: #39569c;
  }

  #github h3 {
    color: #39569c;
  }

  #github h4 {
    color: #39569c;
  }

  #github hr {
    color: #39569c;
  }

  #github .lightItem a {
    color: #39569c;
  }

    #github .lightItem a:link {
      color: #39569c;
    }

    #github .lightItem a:visited {
      color: #39569c;
    }

    #github .lightItem a:hover {
      color: #39569c;
    }

    #github .lightItem a:active {
      color: #39569c;
    }

  #github .darkItem a {
    color: #fdfdff;
  }

    #github .darkItem a:link {
      color: #fdfdff;
    }

    #github .darkItem a:visited {
      color: #fdfdff;
    }

    #github .darkItem a:hover {
      color: #fdfdff;
    }

    #github .darkItem a:active {
      color: #fdfdff;
    }