/* StylesFlexMenus */
body {
    position:relative;
    box-sizing: border-box;
    font-family:Tahoma, sans-serif;
    margin:3em 2em 2em 2em;
    /* border:1px solid black; */
}
div.navbar {
/*    position:relative; */
    position:fixed;
    top:0em;
    left:0em; right:0em;
    display:flex;
    flex-basis: 100%;
    height:2em;
    padding:0em 1.5em;
    background-color:#eee;
    border-bottom:1px solid #0005;
}
div.navbar a:link {
    color: #010101
}
div.menuItem {
    display:flex;
    position:relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0em 0.5em;
     /*border:1px solid green;*/ 
}
div.menuItem a {
    text-decoration: none;
    color:black;
}
div.menuItem:hover {
    background-color:#ccc;
}
div.menuItem:hover .dropdown {
    display:flex;
    flex-direction: column;
    white-space: nowrap;
}
div.dropdown {
    display:none;
    position:absolute;
    top:1.95em;
    /* float: left; */
    left:0em;
    /* padding:0.25em 0.5em; */
    background-color: #fff;
    box-shadow: 8px 8px 8px -2px #aaa;
    border:1px solid black;
    z-index: 10;
    overflow-y:auto;
    max-height:calc(100vh - 5em);
    /*max-height:80vh;*/
/*    padding-right:0.0em;
    padding-left:0.0em;*/
}
div.dropdown details {
    margin-right:0.5em;
}
div.ddItem {
    padding: 0.05em 0.5em;
    font-size: 0.9em;
    /*margin-right: 0.5em;*/
    /*border:1px solid orange;*/
}
div.ddItem a {
    color:black;
}
div.dropdown details div.ddDetails {
    margin-left:-0.5em;
    margin-right:0.5em;
}
div.dropdown .ddItem:hover {
    background-color: #ccc;
}
div.dropdown .ddDetails {
    background-color:#ccc;
    margin-right:0.5em;
}
div.dropdown .ddDetails:hover {
    background-color: white;
    padding-right: 0.5em;
}
div.dropdown details summary {
    user-select:none;
}
#Next, #Prev {
    display:none;
}
.ligthItem {
    background-color: #efefef;
    color: #010101;
}
.darkItem {
    background-color: #010101;
    color: #efefef;
}
/* div.dropdown .ddIterm:hover .expand {
    background-color: #010101;
    color: #efefef;                
} */
div.ddLabel {
    padding:0.25em 0.5em;
   /* margin-right:-0.5em;*/
}
div.prevlink {
    display:none;
}
div.nextlink {
    display:none;
}
div.nextprev {
    display:none;
}
/* .menuScroll {
    position:absolute;
    right:2em;
}
.menuUnscroll {
    position:absolute;
    right:0em;
}
 */
nav button.menuScroll {
    position: fixed;
    top: 0em;
    right: 2.05em;
    padding: 0.45em 8px;
  }
  
  nav button.menuUnscroll {
    position: fixed;
    top: 0em;
    right: 0.25em;
    padding: 0.45em 8px;
  }
  info-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px 40px;
    text-align:center;
    width: 100%;
    border-top: 1px solid #333;
    background-color: #eee;
    font-size: 16px;
    z-index:100;
    cursor:pointer;
  }
  
  