/* ------------------------------------------------------------------
    StylesPhoto.css
    Jim Fawcett, Emeritus Teaching Professor, Syracuse University
*/
#github photo-container {
  display: flex;
  flex-direction: column;
  /*float: right;*/
  width: min-content;
  flex: 1 1 auto;
  padding: 7px;
  background-color: white;
  /*align-items: center;
      justify-content: center;*/
  overflow: hidden;
  border-radius: 7px;
  border: 1px solid black;
  /*touch-action: none;*/
  user-select: none;
}

#github photo-image {
  user-select: none;
}

#github photo-caption {
  display: block;
  font-family: 'Comic Sans MS', Consolas, sans-serif;
  background-color: white;
  padding: 0px 0px 0px 0px;
  font-size: 1.0em;
}
