body
{
  background-color:#fff;
  font-family: Tahoma, Sans-Serif;
  margin:1% 5%;
}

#prevlink
{
  float:left;
  padding:5px 10px 5px 10px;
}

#prevlink:hover
{
  background:#ddd;
}

#nextlink
{
  float:right;
  padding:5px 10px 5px 10px;
}

#nextlink:hover
{
  background:#ddd;
}

#title
{
    text-align:center;
}

#container  
{
    width:100%;
    overflow:visible;
    position:relative;
    text-align:left;
}

#menu, #menu ul 
{
    padding:0;
    margin:0;
    list-style:none;
    background:#fff;
}

#menu li a:hover
{
  background:#ddd;
}

#menu li 
{
    float:left;
}

#menu a 
{
    display:block;
    padding:4px;
    width:6em;
    text-decoration:none;
    margin-bottom:2px;
    margin-top:2px;
}

#menu li ul 
{
    position:absolute;
    width:7em;
    left:-999em;
    text-align:left;
    padding:0 5px 0 5px;
}

#menu li:hover ul, #menu li ul:hover 
{
    left:auto; border:1px solid Black;
    border-bottom-width: 3px;
    border-right-width:3px;
}

#menu li ul a:hover
{
  background:#ddd;
}

.beginning
{
    margin-bottom:0;
}

.end
{
    clear:both;
    margin-bottom:20px;
}

.center
{
  text-align:center;
}

.left
{
  text-align:left;
}

.emphasis
{
  background-color:#fc7; color:#310;
}

.heading
{
  background:#620; color:#fda; font-size:large; padding:5px;
}

.row
{
  background: #fda; color:#310;
}

td
{
  padding:10px; font-weight:700;
}

td.sized
{
  width:105px; font-size:large; 
}