/*
 * CSE681-LectNav.css - Styles for CSE681 navigation menu
 * ver 1.0 - 15 Aug 2011
 * Jim Fawcett, Syracuse University
 */
 
#prevlink
{
  float:left;
  padding:5px 10px 5px 10px;
}

#prevlink:hover
{
  background:#ddd;
}

#nextlink
{
  float:right;
  padding:5px 10px 5px 10px;
}

#nextlink:hover
{
  background:#ddd;
}

#container  
{
    width:100%;
    overflow:visible;
    position:relative;
    text-align:left;
}

#menu, #menu ul 
{
    padding:0;
    margin:0 10px 0 10px;
    list-style:none;
    background:#fff;
}

#menu li a:hover
{
  background:#ddd;
}

#menu li 
{
    float:left;
}

#menu a 
{
    display:block;
    padding:4px;
    width:6em;
    text-decoration:none;
    margin-bottom:2px;
    margin-top:2px;
}

#menu li ul 
{
    position:absolute;
    width:7em;
    left:-999em;
    text-align:left;
    padding:0 5px 0 5px;
    z-index:1;
}

#menu li:hover ul, #menu li ul:hover 
{
    left:auto; border:1px solid Black;
    border-bottom-width: 3px;
    border-right-width:3px;
}

#menu li ul a:hover
{
  background:#ddd;
}

.beginning
{
    margin-bottom:0;
}

.end
{
    clear:both;
    margin-bottom:20px;
}
