/************************************************************************* 
 * CustomMarkup.css - Add new semantic markup for website
 * ver 1.0
 * This javascript file provides custom code to enable browsers
 * to use custom HTML5-style structuring tags.  
 * You also need to include CustomMarkup.css
 *
 * Jim Fawcett, Syracuse University, 01 July 2016
 *************************************************************************/

 code, pagetitle, photo
 { 
   display:block;
 }

 photo {
  border:1px solid gray; padding:5px; text-align:center; box-shadow:5px 5px 2px #888;
  display:table-cell; position:relative;
}

pagetitle {
  margin:30px 10px; padding:5px; text-align:center;
}

/*pagetitle {
  margin:30px 10px; border:1px solid gray; padding:5px; text-align:center; box-shadow:5px 5px 2px #888;
  background-color:rgba(251,236,199,0.75);  color:rgba(40,15,1,0.75);
}*/

code {
  white-space:pre; font-family:Consolas, monospace;
  border:1px solid gray;
  background-color:#505050; color:white;
  display:table-cell; padding:10px 50px 10px 0px;
  position:relative;
  left:0px;
}

 codewrapper {
  border:1px solid gray; padding:5px; box-shadow:5px 5px 2px #888;
  display:table-cell;
  position:relative; left:40px;
}

codecaption {
  text-align:center; font-family:Tahoma; font-size:small;
  display:block; padding:3px;
}

constr {
  font-size:x-large; color:red; text-align:center;
  display:block;
  width:60%; margin:30px 20%;
}

callout {
  margin: 20px;
  background-color: lightyellow;
  padding: 20px;
  border: 2px solid lightgray;
  /*border-top:4px solid lightgray;
  border-left:4px solid lightgray;
  border-right:2px solid darkgray;
  border-bottom:2px solid darkgray;*/
  display: table-cell; position:relative;
}

block
{
  border-width:2px; border-style:solid; border-color:#000;
  /*background-color:#efe; color:Teal;*/ 
  box-shadow:5px 5px 2px #888;
  padding: 15px 15px 25px 15px;
  border-radius:5px;
  display:table-cell; 
  position:relative;
}

pp { /* you can't use this as a self closing tag */
  display:block; margin-top:10px; margin-bottom:10px;
}


