/*
 * Fallback.css - Styles that, in conjunction with Fallback.js, 
 *                allow older browsers to handle HTML5 structure tags
 * ver 1.0
 * 18 Aug 2011
 * Jim Fawcett, Syracuse Univ
 */

 header, footer, nav, section, aside, article, canvas, hgroup, figure, figcaption
 { 
   display:block;
 }

pd {
  display: block;
}

pd10 {
  display: block;
  height: 10px;
}

pd15 {
  display: block;
  height: 15px;
}
