/*
 * SiteCommon.css - Styles for the entire site
 * ver 1.0 - 16 Aug 2011
 * Jim Fawcett, Syracuse Univ
 */
 
/*----< Page Links >-------------------------------------*/

a:link, a:visited, a:active
{
  color:Black;
}

a:hover { color:#060; }

#prevlink
{
  float:left;
  padding:2px 10px 2px 10px;
  font-size:small;
}

#prevlink:hover
{
  background:#ddd;
}

#nextlink
{
  float:right;
  padding:2px 10px 5px 10px;
  font-size:small;
}

#nextlink:hover
{
  background:#ddd;
}

/*----< menu styles >------------------------------------*/

.container  
{
    width:100%;
    overflow:visible;
    position:relative;
    text-align:left;
}

#menu, #menu ul 
{
    padding:0;
    margin:0 10px 0 10px;
    list-style:none;
    background:#fff;
}

#menu li a:hover
{
  background:#ddd;
}

#menu li 
{
    float:left; text-align:center;
}

#menu a 
{
    display:block;
    padding:4px;
    width:6em;
    text-decoration:none;
    margin-bottom:2px;
    margin-top:2px;
}

#menu li ul 
{
    position:absolute;
    width:7em;
    left:-999em;
    text-align:left;
    padding:0 5px 0 5px;
    z-index:1;
}

#menu li:hover ul, #menu li ul:hover 
{
    left:auto; border:1px solid Black;
    border-bottom-width: 3px;
    border-right-width:3px;
}

#menu li ul a:hover
{
  background:#ddd;
}

#menu li ul li { text-align:left; }

ul[id=menu] li { margin:0; }

.menubegin
{
    margin:0;
}

.menuend
{
    clear:both;
    margin-bottom:20px;
}

/*----< Heading Styles >---------------------------------*/

#topleft { float:left; font-size:90%; padding-bottom:0px; }

#topright { float:right; font-size:90%; padding-bottom:0px; }

#topcenter { text-align:center; font-size:small; padding-bottom: 0px; }

#pagetitle 
{ 
  clear:both; text-align:center; padding:0px; 
}

#title { margin:2px 50px 0px 50px; padding:4px; }

#subtitle { margin:0px 50px 2px 50px; padding:3px 0 10px 0; }

#pagedate { margin:10px 0; }

/*----< Page Content styles >----------------------------*/

body
{
  margin:1% 3%; font-family:Tahoma, Sans-Serif;
}

.constr { font-size:large; text-align:center; color:Red; margin:20px 0; }

#content { padding: 10px; }

div#content li { padding-bottom:10px; }

section { border:1px solid black; margin-bottom:5px; }

.clear { clear:both; }

.tight { padding:5px; margin:5px; }

.tighter { padding:2px; margin:2px; }

.center { text-align:center; }

.top { vertical-align:top; }

.block
{
  border-width:2px; border-style:solid; border-color:#000;
  background-color:#efe; color:Teal; 
  box-shadow:5px 5px 2px #888;
  padding: 15px 15px 25px 15px;
  margin:10px 0 10px 0;
  border-radius:5px;
}

table 
{ 
  border:2px solid #000; 
  width:98%;
  margin:10px 1% 10px 1%; 
  border-collapse: collapse; 
}

th 
{ 
  background-color:Teal; color:#fff; 
}

th#tabletitle
{
  background-color:Teal; color:#fff; font-size:x-large;
}

tr, th
{
  border:2px solid #040; text-align:center; padding:8px;
}

td
{
  border:2px solid #040; text-align:left; padding:4px 8px; color:#040;
}

tr:last-child { text-align:center; }

td.em
{
  color:white; background-color:LightSeaGreen;
}

td.em a:link { color:White; }
td.em a:active { color:White; }
td.em a:visited { color:White; }
td.em a:hover { color:Black; }

.indent
{
  margin-left:20px; margin-right:20px;
}

/*----< footer styles >----------------------------------*/

footer 
{ 
  clear:both;
  text-align:center; font-size:small;
  padding:30px 0 50px 0;
}
