/*
 * TopLevelPage.css - Styles for top level pages
 * ver 1.1 - 15 Aug 2011
 * Jim Fawcett, Syracuse Univ
 */
body
{
  background-color:#fff;
  font-family: Tahoma, Sans-Serif;
  margin:1% 5%;
}

#title
{
    text-align:center;
}

.center
{
  text-align:center;
}

.left
{
  text-align:left;
}

.emphasis
{
  background-color:#fc7; color:#310;
}

table { width:100%; }

.heading
{
  background:#a0522d; color:#fda; font-size:large; padding:5px;
}

.row
{
  background: #fda; color:#310;
}

td
{
  padding:10px; font-weight:700;
}

td.sized
{
  width:7em; font-size:large; 
}

.onleft { float:left; }

.onright { float:right; }

.main { clear:both; }

.block /* uses some CSS3 - supported by IE9 and Chrome */
{
  border-width:2px; border-style:outset; border-color:#ddd;
  background-color:#efefef; 
  box-shadow:5px 5px 2px #888;
  padding: 15px 15px 25px 15px;
  margin:10px 0 10px 0;
  border-radius:5px;
}

td.largesized
{
  width:20em;
}

.constr
{
  font-size:larger; font-weight:bolder; text-align:center; color:Red; margin:20px 0 20px 0;
}

.footer
{
  margin: 40px 0 50px 0; text-align:center; font-size:small;
}

li { margin:8px 0 8px 0; }

