/* DemoStyleSheet3.css*/

    #grid_container {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: 10em 1fr 10em;
    }
    .grid_element {

    }

    /* element styles */
    body { margin:0px; padding:0px; font-family:tahoma; background-color:#F0F0F0; color: #400000; font-size:medium; }
    li { margin:0; padding:0; text-align:left; }
    img { float:left; margin:20px; }
    a:link { color: #400000; }
    a:visited { color: #400000; }
    a:active { color: #400000; }
    a:hover { color: white; background-color:#700000; color:white; }
    
    /* styles by id - apply to only one element per page - should have semantic meaning */
    #header { height:100px; padding-bottom:30px; background-color: #700000; color: white; font-size: 150%; text-align:center; }
    #navigat { margin-top:0%; padding:15px; vertical-align:top; list-style-type:none; background-color: white; }
    #sidebar { margin-top:0%; margin-left:0px; padding:15px; vertical-align:top; background-color: White; }
    #content { padding:15px; margin-top:0%; vertical-align:top; background-color:White; }

    /* styles by class - applies to all selected elements */
    .navLst { list-style-type:none; margin-left:0px; margin-top:0%; padding-left:0; }
    .text { margin-top: 5px; margin-bottom: 5px; }
    .title { font-size: 120%; }

.subtitle2 {
  font-size: 100%;
  font-style: italic;
  margin-bottom: 5px;
}
    .left { padding:20px; text-align: left; font-size:80%; }
    .right { padding:20px; text-align: right; font-size:80%; }
    .block { background-color: #F0F0F0; border: solid 1px Gray; margin-bottom:20px; padding:10px; }
