    /* element styles */
    body { margin:0%; padding:0; font-family:tahoma; background-color:#F0F0F0; color: #400000; font-size:medium; }
    li { margin:0; padding:0; text-align:left; }
    img { float:left; margin:20px; }
    a:link { color: #400000; }
    a:visited { color: #400000; }
    a:active { color: #400000; }
    a:hover { color: white; background-color:#700000; color:white; }
    
    /* styles by id - apply to only one element per page - should have semantic meaning */
    #header { margin-bottom:0%; background-color: #700000; color: white; font-size: 150%; text-align:center; }
    #navigat { float:left; margin-top:0%; width: 100px; padding:15px; vertical-align:top; list-style-type:none; background-color: #F0F0F0; height:50em; }
    #sidebar { float:right; margin-top:0%; margin-left:1px; width: 120px; padding:15px; vertical-align:top; background-color: White; height:50em; }
    #content { padding:15px; margin-top:0%; vertical-align:top; background-color:White; height:50em; }

    /* styles by class - applies to all selected elements */
    .navLst { list-style-type:none; margin-left:0px; margin-top:0%; padding-left:0; }
    .text { margin-top: 5px; margin-bottom: 5px; }
    .title { font-size: 120%; margin-bottom: 10px; }
    .subtitle { font-size: 100%; margin-bottom: 5px; font-style:italic; }
    .left { padding:20px; text-align: left; font-size:80%; }
    .right { padding:20px; text-align: right; font-size:80%; }
    .block { background-color: #F0F0F0; border: solid 1 Gray; margin-bottom:20px; padding:5px; }
    
    /* Chrome hack - Chrome doesn't honor padding when next to a float so we need a spacer. */
    /*    Browsers other than Chrome and Safari don't recognize the (legal) nth-of-type(n)  */
    /*    construct, and so they don't process the extra space that only Chrome needs.      */
    body:nth-of-type(1) .spacerleft { float:left; width:15px; height:50em; background-color:White; }
    body:nth-of-type(1) .spacerright { float:right; width:15px; height:50em; background-color:#F0F0F0; }
