/*
 * LecturesSupplement.css - Styles for CSE681 lecture pages
 * ver 1.0 - 15 Aug 2011
 * Jim Fawcett, Syracuse University
 */
 
div[id="content"] li { margin-bottom:15px; }

div[id="content"] ul { margin-top:10px; }

#pagetitle { background-color:White; }

#title, #subtitle { background-color:White; color:#440000; }

#subtitle { font-size:large; }

#content 
{ 
  padding:10px 20px; margin-top:-20px; 
}

.block { margin-bottom:20px; background-color:White; color:#440000; }

.loose { padding:20px 0; }

.large { font-size:large; }

.padleft { padding-left:100px; }

.note { background-color:#eeee00; padding:0 10px; }