/*
  Styles for page bodies
  - Menu styling resides in the StylesMenu.css page
*/
body {
  padding: 40px 40px 70px 40px;
  margin: 0px;
  font-family: Tahoma, sans-serif;
  font-size: medium;
  border-left: 10px solid #eee;
  border-right: 10px solid #eee;
}

ul {
  list-style-type: disc;
}

ol, ul {
  margin: 15px 5px;
  /*border: 1px solid black;*/
}

ol > li, ul > li {
  margin: 0px;
  padding: 2px 10px 10px 10px;
  /*border: 1px solid red;*/
}

ol.tight, ul.tight {
  margin: 5px 5px;
  display: table-cell;
  /*border: 1px solid black;*/
}

ol.tight > li, ul.tight > li {
  margin: 0px;
  padding: 2px 10px 2px 10px;
  /*border: 1px solid red;*/
}

  ol.tighter, ul.tighter {
    margin: 0px 5px;
    display: table-cell;
    /*border: 1px solid black;*/
  }

ol.tighter > li, ul.tighter > li {
  margin: 0px;
  padding: 0px 10px 0px 10px;
  /*border: 1px solid red;*/
}

.codeSnap {
  font-family: Consolas, Courier New, Courier, monospace;
  font-size: small;
  font-weight: bold;
  background-color: #eee;
  padding: 10px;
}

blockquote {
  text-align: center;
}

strong-large {
  display: inline;
  font-weight:bold;
  font-size:large;
}

.larger {
  font-size:large;
}

spacer-50 {
  display: block;
  height: 25px;
}

spacer-25 {
  display: block;
  height: 25px;
}

spacer-15 {
  display: block;
  height: 15px;
}

spacer-10 {
  display: block;
  height: 10px;
}

spacer-5 {
  display: block;
  height: 5px;
}

.title {
  margin-bottom: 10px;
}

.subtitle {
  margin:0px 20px 40px 40px;
}

#title {
  margin-bottom: 0.4em;
}

#subtitle {
  padding-left: 2em;
  margin-top: 0.4em;
}

caption-text {
  display: flex;
  justify-content: center;
  width: 8000px;
  margin: 0 auto;
}

.caption {
  margin-left: 5%;
  margin-right: 5%;
  padding: 15px 0px;
  text-align:center;
}

.center {
  align-content: center;
}

.center2 {
  display:flex;
  justify-content:center;

}

.indent {
  margin: 5px 25px;
}

indent-block {
  display: block;
  margin: 5px 25px;
}

.undent {
  margin: 5px 15px;
  padding-left:20px;
}

.left { float: left; }
.right { float: right; }
.clear { clear: both; }

revised-date {
  font-size:small;
  position: relative;
  top: -10px;
  left: 0px;
}

more-less {
  display: block;
  text-decoration: underline;
  margin: 0px;
}

more-less:hover {
  cursor: pointer;
}

div.hider {
  display: none;
  padding: 15px 0px;
}

.photo {
  display: table-cell;
  border: 1px solid black;
  box-shadow: 5px 5px 2px #bbb;
  background-color: white;
  padding: 5px;
  margin: 10px;
}

.centered-photo {
  display: block;
  border: 1px solid black;
  box-shadow: 5px 5px 2px #bbb;
  background-color: white;
  padding: 5px;
  margin: 10px;
  text-align: center;
}

photo-container {
  margin: 10px;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
}

.strip-photo {
  display: table-cell;
  width: 98%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid black;
  box-shadow: 5px 5px 2px #bbb;
  background-color: white;
  padding: 10px;
}

.blocktight {
  display:table-cell;
  padding: 10px;
}

readings-block {
  display: block;
  margin: 15px 0px;
  padding: 10px 20px 20px 20px;
  background-color: cornsilk;
  color: maroon;
  box-shadow: 5px 5px 2px #bbb;
  border: 1px solid saddlebrown;
  border-radius: 3px;
}

readings-block.tight {
  display: table-cell;
}

readings-block.tight h3, h4 {
  margin-top:10px;
  margin-bottom:10px;
}

topic-block {
  display: block;
  margin: 15px 0px;
  padding: 15px 30px 15px 30px;
  background-color: white;
  color: black;
  box-shadow: 5px 5px 2px #bbb;
  border: 3px solid saddlebrown;
  border-radius: 3px;
}

topic-block.tight {
  display: table-cell;
  padding: 20px 40px 30px 40px;
}

topic-block.tight h3, h4 {
  margin-top:10px;
  margin-bottom:10px;
}

inset-block {
  /*border:1px solid #cccccc;*/
  display: table-cell;
  padding:0.25em 1.5em;
  background-color: #dddddd;
}

.fixedwidth {
  display:block;
  width:95%;
  padding: 15px 30px 20px 30px;
}

fixedwidth-block {
  display: block;
  width: 95%;
  padding: 15px 25px;
}

.banded {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}

banded-block {
  display: block;
  margin: 15px 0px 25px 0px;
  padding: 15px 30px 20px 30px;
  background-color: #fefefe;
  color: black;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  box-shadow: 4px 4px 6px 5px #cccccc;
}

.shadowed {
  box-shadow: 4px 4px 6px 5px #cccccc;
}

notes-block {
  display: block;
  margin: 15px 0px;
  padding: 15px 20px 20px 20px;
  background-color: cornsilk;
  color: black;
  box-shadow: 5px 5px 2px #bbb;
  border: 2px solid saddlebrown;
  border-radius: 3px;
}

notes-block.tight {
  display: table-cell;
}

notes-block.tighter {
  display:table-cell;
  padding: 10px;
}

footnote-block {
  display:block;
  color:#666666;
  font-size:small;
  padding:0px;
}

  footnote-block a:link {
    color: #666666;
  }

  footnote-block a:visited {
    color: #666666;
  }

  footnote-block a:active {
    color: #666666;
  }

  footnote-block ol {
    margin: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  footnote-block ul {
    margin: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  footnote-block li {
    color: #666666;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  footnote-block hr {
    margin-top: 15px;
    margin-bottom: 0px;
    color: #fff;
    border:1px solid #cccccc;
    background-color:red;
  }

content-separator {
  display:block;
  font-size:1.0em;
  padding: 10px 0px 5px 25px;
}
a-note {
  display: inline;
  margin: 0em;
  padding: 2px 4px;
  background-color: cornsilk;
  color: black;
  border: none;
}

.noteblock {
  display: block;
  padding: 10px 25px;
  background-color: cornsilk;
  color: black;
  border: none;
}

.bordered {
  border:1px solid #999999;
}

.tight {
  display: table-cell;
}

.note {
  display: inline;
  margin: 0em;
  padding: 2px 4px;
  background-color: cornsilk;
  color: black;
  border: 1px solid saddlebrown;
}

table {
  border-collapse: collapse;
  border: 2px solid black;
}

th, td {
  border: 1px solid black;
  vertical-align: top;
  padding: 10px;
}

th {
  background-color: #eee;
  text-align: left;
}

table.syllabus {
  background-color: #ffffff;
  border: 4px solid saddlebrown;
  margin-bottom: 25px;
}

table.syllabus th {
  background-color: cornsilk;
  color: black;
  border: 2px solid saddlebrown;
}

table.syllabus td {
  border: 2px solid saddlebrown;
}

table.syllabus td.em {
  background-color: cornsilk;
  color: black;
}

a:link {
  color: #000000;
}

a:visited {
  color: #000000;
}

a:hover {
  color: #000000;
}

a:active {
  color: #000000;
}

lectures-link {
  border: 2px solid saddlebrown;
  background-color: cornsilk;
  color: maroon;
  margin-top: 0px;
  margin-left: -34px;
  padding: 7px 10px;
}
lectures-link a:link {
  color: maroon;
}
lectures-link a:visited {
  color: maroon;
}
lectures-link a:hover {
  color: maroon;
}
lectures-link a:active {
  color: maroon;
}
.em {
  background-color: #eec;
  color: black;
}

td.em > a:link {
  color: black;
}

td.em > a:visited {
  color: black;
}

td.em > a:hover {
  color: black;
}

td.em > a:active {
  color: black;
}

under-construction {
  display:block;
  font-size:large;
  color: darkred;
  padding:2px 10px;
  margin-top:25px;
  margin-bottom:25px;
}

tight-header {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 5px;
  display: block;
}

tight-inlineheader {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 5px;
  display: inline;
}