/* BiteStyles.css */

body {
  margin:5em 5em;
  font-family: Tahoma, sans-serif;
}
#github hr {
  margin-top:0em;
  margin-bottom:1.5em;
}
#github h1, h2 {
  margin-bottom:0.25em;
}
#github h3, h4, h5 {
  font-weight:600;
  /* color: #444; */
}
#github h4 {
  margin-bottom:0.75em;
}
#github td {
  padding:0.2em 0.25em;
  vertical-align: top;
}
#github li {
  margin-top:0.75em;
  margin-bottom:0.75em;
}
#github ol.tight li {
  margin-top:0.5em;
  margin-bottom:0.5em;
}
#github ul.tight li {
  margin-top:0.5em;
  margin-bottom:0.5em;
}
#github .top-banner {
  position:absolute;
  top:0px; left:0px; right:0px;
  background-color:#ddd;
  padding-top: 0.5em;
  height: 2.0em;
}
#github #hlft {
  position: absolute;
  left:2em;
}
#github #hctr {
  position: absolute;
  left:2em;
}
#github #hrgt {
  position: absolute;;
  right:2em;
}

#github toc-block, toc-b {
  display: block;
  position: fixed;
  bottom: 1.0rem;
  left: 1.0rem;
  z-index: 100;
  padding: 3px 10px 5px 10px;
  background: #000;
  color: #fefefa;
  border: 2px solid orange;
}

#github #toc a {
  color: black;
}

#github up-b {
  display: none;
  position: absolute;
  bottom: 1.65rem;
  left: 0rem;
  background-color: #eee;
  padding: 3px 10px 5px 10px;
  border: 1px solid darkred;
}

#github rt-b {
  display: none;
  width: max-content;
  position: absolute;
  bottom: 0rem;
  left: 10.5rem;
  background-color: #eee;
  padding: 3px 10px 5px 10px;
  border: 1px solid darkred;
}

#github #hlp {
  position:fixed; top:8em; right:5em;
  background-color:#ddd;
  border:1px solid black;
  padding:0.5em 1.0em 1.0em 1.0em;
}

#github t-b {
  display: block;
  margin-top:1em;
  margin-bottom:1em;
}

#github bb-55 {
  display:block;
  width:55em;
}

#github .right {
  float: right;
}

#github .left {
  float: left;
}

#github .clear {
  clear: both;
}
#github .indent {
  padding-left:1.5em;
  padding-right:1.5em;
}

#github c-s {
  display: inline-block;
  font-family: Consolas, sans-serif;
  font-size: 1.0em;
  font-weight: bold; 
}
#github .code {
  font-family: Consolas, sans-serif;
  font-size: 0.9em; 
}

#github .pad5 {
  padding-top:5px;
  padding-bottom:10px;
}

#github s-halfEm {
  display: block;
  height:0.5em;
}

#github s-1em {
  display: block;
  height:1em;
}

#github s-5em {
  display: block;
  height:5em;
}
