/* StylesPageFrameStructure */

/* 
  Stylesheets should be included in the order:
    - StylesPageFrameTheme(Default).css
    - StylesPageFrameStructure.css
    - StylesPageFrameMenus.css
    - StylesPageFrameKeyboard.css
*/

/*body {
  padding: 0em;
  margin: 0em;
  font-family: Tahoma, sans-serif;
  box-sizing: border-box;
  font-size: 16px;*/
  /*position: relative;*/
/*}*/
#github #pageheader {
  background-color: var(--atten);
  color: var(--dark);
  padding: 0.10em 1.5em 0.75em 1.5em;
  border: 1px solid var(--dark);
  margin-top: 0.5em;
  margin-bottom:2em;
}
#github header {
  position:relative;
  top:-1em;
}
#github header-block {
  text-align: left;
}
#github #pagetitle {
  padding: 1px 25px 5px 25px;
  margin: 25px 0px 5px 0px;
}
#github a.repoLink {
  position: absolute;
  top: 10px; right:10px;
  /*margin: 10px 50px;*/
  padding: 0px;
  /*float: right;*/
  font-size: 1.25em;
}
#github help-block {
  background-color: var(--light);
}
/*#github t-b {
  display: block;
  max-width: 50rem;
  margin: 1.5em 0em;
}
#github c-b {
  font-family: Consolas, monospace, sans-serif;
  font-weight: normal;
  font-size: 1.0em;
}*/
#github .indent {
  margin-left:1em;
  margin-right:1em;
}
#github .vpad5 {
  padding-top:5px;
  padding-bottom: 5px;
}

#github .undef {
  opacity: 0.5;
}
#github .right {
  float: right;
}
#github .left {
  float: left;
}
#github .clear {
  clear:both;
}

#github .title {
  padding: 0.75em 1.5em;
  max-width: fit-content;
  background-color: var(--dark);
  color: var(--light);
}

#github .note {
  padding: 1.0em 2.5em;
  max-width: 50rem;
  background-color: var(--light);
  color: var(--darl);
  border:1px solid var(--dark);
}
#github .quickStatus {
  width: auto;
  z-index: 100;
  position: relative;
  padding:0.25em 0.75em;
  margin-bottom: 0em;
}
#github status-grid {
  display: grid;
  /*  grid-gap: 0px 20px; */
  grid-template-columns: auto auto;
  background-color: var(--light);
  border: 1px solid var(--dark);
}

#github status-itemLeft {
  padding: 0px 10px;
}

#grid status-itemLeft a {
  color: var(--dark);
}

#github status-itemRight {
  padding: 0px 10px;
}


/*#github details {
  margin:0px;
}

#github summary {*/
  /*width: max-content;*/
  /*max-width: 100%;
  padding: 0px;
  margin:0px;
  font-weight: normal;
  cursor: pointer;
}*/

#github page-frame {
  position: fixed;
  top: 0em;
  bottom: 0em;
  left: 0em;
  right: 0em;
  display: flex;
  flex-direction: column;
  /*height: 100vh;*/
}

#github frame-header {
  display: flex;
  flex-direction: row;
  height: 2.0em;
  /*border-bottom: 1px solid var(--dark);*/
  align-items: center;
  user-select: none;
}

#github main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0em 1em;
  background-color: var(--light);
  color: var(--dark);
  overflow: auto;
  /*border: 3px dotted purple;*/
}

#github content {
  display: block;
  padding: 1em 3em;
  margin-bottom:10em;
}


/* 
  page-TOC and page-sections styled in StylesPageFrameMenus
*/

/*#github page-TOC {
  position: fixed;
  right: 0em;
  bottom: calc(2.0em);
  max-height: calc(100% - 2em - 6px);
  padding-right: 1.0em;
  display: flex;
  flex-direction: column;
  overflow-y: auto;*/
  /*width:5em;*/
  /*background-color: var(--light);
  color: var(--dark);
  border: 3px groove black;*/
  /*border-bottom: none;*/
/*}

#github toc-elem {
  display: block;
  margin: 0.2em 0.5em;
}

#github page-sections {
  position: fixed;
  right: 0em;
  bottom: calc(2.0em);
  display: flex;
  flex-direction: row-reverse;
  max-width: calc(100% - 6px);
  overflow-x: auto;*/
  /*height:2.0em;*/
  /*background-color: var(--light);
  color: var(--dark);
  border: 3px groove var(--dark);*/
  /*border-bottom: none;*/
/*}

#github sec-elem {
  display: block;
  padding: 0.5em 0.5em;
}*/

#github frame-footer {
  display: flex;
  flex-direction: row-reverse;
  /*position: fixed;
      bottom: 0em;
      left: 0em;
      right: 0em;*/
  height: 2.0em;
  border-top: 1px solid black;
  align-items: center;
  user-select: none;
}

#github #modified {
  display: none;
}

#github table {
  border-collapse:collapse;
  user-select:none;
  margin-top:0.5em;
  margin-bottom:0.5em;
}

#github table th, td {
  padding:0.25em 0.75em 0.5em 0.75em;
  border: 1px solid black;
  border-collapse: collapse;
  vertical-align:top;
}

#github table a {
  color: black;
}

