/*
  -------------------------------------------------------------------
   SplitterBar.css 
    - styles for draggable splitter with one pane on each side

   Jim Fawcett, Emeritus Teaching Professor, Syracuse University
  -------------------------------------------------------------------
*/
body
{
  font-family: Tahoma, sans-serif;
  padding:25px;
}

splitter-container {
  margin: 0em 0em;
  display: flex;
  flex-direction:row;
  flex-basis: auto;          /* uncomment to enable growing height to fit content */
  /*height: 300px;*/         /* comment out to enable growing height to fit content*/
  border: 3px solid var(--dark);
  overflow-y:hidden;
}

splitter-bar {
  cursor: col-resize;
  background-color:var(--dark);
  width: 10px;
  min-width:10px;
  flex: 1 10px 0px;
}

first-item {
  display: flex;
  overflow-x: auto;
  background-color: #eee;
  /*min-width:10%;*/  /* uncomment to prevent first-item from disappearing completely */
  user-select: none;
}

second-item {
  flex: 1;
  display: flex;
  overflow-y: auto;
  background-color: #eee;
  /*min-width:10%;*/ /* uncomment to prevent second-item from disappearing completely */
  user-select: none;
}

