/* StylesPageFrameThemeDefault */

/* 
  Stylesheets should be included in the order:
    - StylesPageFrameTheme(Default).css
    - StylesPageFrameStructure.css
    - StylesPageFrameMenus.css
*/

:root {
  --light: #fefefa;
  --dark: #333;
  --menu: #eee;
  --atten: #eee;
  --hr: #010101;
}

#github #pagetitle {
  color: var(--light);
  background-color: var(--dark);
}

#github #title {
  color: var(--light);
  background-color: var(--dark);
}

#github #subtitle {
  color: var(--light);
  background-color: var(--dark);
  font-weight:normal;
}

#github a.repoLink {
  background-color: var(--dark);
  color: var(--light);
}

#github .note {
  border: 3px dotted var(--dark);
  padding: 0.75em 1.5em;
  margin: 0.75em 0em;
  background-color: var(--light);
  color: var(--dark);
}

#github .ligthItem {
  background-color: var(--light);
  color: var(--dark);
}

#github .darkItem {
  background-color: var(--dark);
  color: var(--light);
}

#github .attenItem {
  background-color: var(--atten);
  color: var(--dark);
}

/*#github summary {
  width: max-content;
  max-width: 100%;
  padding: 0.25em 0.75em;
  margin: 0px;
  font-weight: normal;
  cursor: pointer;
  user-select: none;
}
*/
#github a {
  color: var(--dark);
}

#github summary {
  position: relative;
  z-index: 1;
}

#github a {
  outline: none;
}

#github summary {
  outline: none;
}
