/*
 * SiteCommon.css - Styles for the entire site
 * ver 1.0 - 09 Aug 2013
 * Jim Fawcett, Syracuse Univ
 */
 
/*----< Page Links >-------------------------------------*/


.block
{
  border-width:2px; border-style:solid; border-color:#000;
  background-color:white; color:#300; 
  box-shadow:5px 5px 2px #888;
  padding: 15px 15px 25px 15px;
  margin:10px 0 10px 0;
  border-radius:5px;
  display:table-cell;
}

.close {
  margin-top: 0px;
}

.note {
  background-color: yellow;
  color: black;
  margin-left: 0;
  margin-right: 0;
  padding: 2px;
}

.light {
  background-color: #eee;
  padding: 20px;
  display: table-cell;
}

.wblock {
  padding: 20px 30px 30px 30px;
  border: 1px solid black;
  -webkit-box-shadow: 6px 6px 18px rgba(0,0,0,.62);
  -moz-box-shadow: 6px 6px 18px rgba(0,0,0,.62);
  box-shadow: 6px 6px 18px rgba(0,0,0,.62);
}

.block {
  padding: 20px 30px 30px 30px;
  border: 1px solid black;
  -webkit-box-shadow: 6px 6px 18px rgba(0,0,0,.62);
  -moz-box-shadow: 6px 6px 18px rgba(0,0,0,.62);
  box-shadow: 6px 6px 18px rgba(0,0,0,.62);
  display: table-cell;
}

.vertspace {
  padding: 20px 0px 20px 0px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

div > ul {
  margin: -10px 10px 10px 10px;
}

div > ul > li {
  margin: 0px 0px 0px -10px;
  padding: 0;
}

ol > li {
  margin-bottom: 20px;
}

.spacer {
  height: 10px;
}

table {
  border-collapse: collapse;
  border: none;
}

tr, td {
  border: none;
  padding: 0px;
}

