/*-- Styles_Structure --*/

#github t-b {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 55rem;
}

#github ol {
  margin: 0.5rem 2.0rem;
}

  #github ol > li {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    width: 55rem;
  }

#github ol.tight {
  margin: 0rem 2.0rem;
}

  #github ol.tight > li {
    margin-top: 0.0rem;
    margin-bottom: 0.0rem;
    width: 55rem;
  }

#github ul {
  margin: 0.5rem 2.0rem;
}

  #github ul > li {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    width: 55rem;
  }

#github ul.tight {
  margin: 0.0rem 2.0rem;
}

#github ul.tight > li {
  margin-top: 0.0rem;
  margin-bottom: 0.0rem;
  width: 55rem;
}

#github .spread {
  margin: 1.0rem 0rem;
}

#github .spreadAbove {
  margin: 1.0rem 0rem 0.5rem 0rem;
}