/*-- Styles_RustTheme.css --*/

body {
  background-color: #fefefa;
  color: #5c2107;
}

#github .light {
  background-color: #fefefa;
  color: #5c2107;
}

#github .lightItem {
  background-color: #fefefa;
  color: #5c2107;
  padding: 0.25rem 1rem;
}

#github .dark {
  background-color: #5c2107;
  color: #fefefa;
}

#github .darkItem {
  background-color: #5c2107;
  color: #fefefa;
  padding: 0.25rem 1rem;
}

#github a {
  color: #5c2107;
}
