/*-- Styles_Structure --*/

body > a {
  display:none;
}

#github t-b {
  display: block;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  width: 55rem;
}

#github hr {
  width: 55rem;
  color: #5c2107;
}

#github indent-block {
  display: block;
  margin: 0.5rem 1rem;
}

#github .indent {
  margin: 0.5rem 1rem;
}

#github .smallspread {
  padding:0.25rem 0.0rem;
}

#github .largeindent {
  margin: 0rem 1.0rem;
}

#github .smaller {
  font-size:0.9rem;
}

#github .normal {
  font-weight:normal;
}

#github ol {
  margin: 0.5rem 2.0rem;
}

  #github ol > li {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    width: 55rem;
  }

#github ol.tight {
  margin: 0rem 2.0rem;
}

  #github ol.tight > li {
    margin-top: 0.0rem;
    margin-bottom: 0.0rem;
    width: 55rem;
  }

#github ul {
  margin: 0.5rem 2.0rem;
}

  #github ul > li {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    width: 55rem;
  }

#github ul.tight {
  margin: 0.0rem 2.0rem;
}

#github ul.tight > li {
  margin-top: 0.0rem;
  margin-bottom: 0.0rem;
  width: 55rem;
}

#github .spread {
  margin: 1.0rem 0rem;
}

#github .spreadAbove {
  margin: 1.0rem 0rem 0.5rem 0rem;
}

two-column {
  display: grid;
  grid-auto-columns: max-content;
  /*grid-template-columns: auto auto;*/
  grid-template-areas: "left right";
  /*grid-gap: 0.15em;*/
  /*width: 100%;*/
  margin: 1em 0em;
  border: 0.10em solid #4c2f27;
  background-color: #4c2f27;
  overflow: auto;
}

left-content {
  /*position: relative;*/
  grid-area: left;
  /*width: calc(100%-2em);*/
  margin: 0.10em;
  padding: 1.5em;
  background-color: #fefefa; /* baby powder */
  color: #4c2f27;
}

right-content {
  /*position: relative;*/
  grid-area: right;
  /*width: calc(100%-2em);*/
  margin: 0.10em;
  padding: 1.5em;
  background-color: #fefefa; /* baby powder */
  color: #4c2f27;
}

#github code-block {
  display: block;
  white-space: pre;
  font-family: Consolas, monospace;
  font-size: 1rem;
  font-weight: bold;
}

#github .code {
  white-space: pre;
  font-family: Consolas, monospace;
  font-size: 1rem;
  font-weight: bold;
}

#github c-s {
  display: inline;
  font-family: Consolas, monospace;
  font-size: 1rem;
  font-weight: bold;
}

#github table {
  border-collapse: collapse;
}

#github table th {
  border: 2px solid #5c2107;
  padding: 0.2em 0.5em;
}

#github table td {
  vertical-align: top;
  border: 2px solid #5c2107;
  padding: 0.2em 0.5em;
}

#github summary {
  padding: 0.25rem 1rem;
  user-select: none;
  cursor: pointer;
}

#github defn-outerBlock, .defn-outerBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0px;
  width: calc(100vw - 12rem);
  border: none;
}

#github defn-block {
  display: flex;
  flex-direction: column;
  border: 2px solid darkred;
  margin: 3px;
  /*margin-top: 0.75rem;
  margin-bottom: 0.75rem;*/
  width: max-content;
  overflow-x: auto;
}

#github .defn-block {
  display: flex;
  flex-direction: column;
  border: 2px solid darkred;
  margin: 3px;
  /*margin-top: 0.75rem;
  margin-bottom: 0.75rem;*/
  width: max-content;
  overflow-x: auto;
}

#github defn-head {
  display: block;
  border: none;
  border-bottom: 2px solid darkred;
  padding: 0.25rem 1rem;
  font-size: 1.25rem;
  font-weight: bolder;
  /*font-style: italic;*/
  font-family: Consolas, sans-serif;
  color: darkred;
  /*overflow-x: hidden;*/
}

#github .defn-head {
  display: block;
  border: none;
  border-bottom: 2px solid darkred;
  padding: 0.25rem 1rem;
  font-size: 1.0rem;
  font-weight: bolder;
  font-style: italic;
  font-family: Consolas, sans-serif;
  color: darkred;
  /*overflow-x: hidden;*/
}

#github defn-body {
  display: block;
  border: none;
  padding: 0.5rem 1.0rem;
  /*overflow-x: hidden;*/
  font-size: 0.9rem;
}

#github .defn-body {
  display: block;
  border: none;
  padding: 0.5rem 1.0rem;
  /*overflow-x: hidden;*/
  font-size: 0.9rem;
}

#github defn-code {
  display: block;
  border: none;
  /*border-top: 2px solid darkred;*/
  padding: 0.0rem 1.0rem;
  white-space: pre;
  /*overflow-x: hidden;*/
  font-family: Consolas, monospace;
  font-weight: bold;
  font-size: 0.8rem;
}

#github .defn-code {
  /*display: block;*/
  border: none;
  /*border-top: 2px solid darkred;*/
  padding: 0.0rem 1.0rem;
  white-space: pre;
  /*overflow-x: hidden;*/
  font-family: Consolas, monospace;
  font-weight: bold;
  font-size: 0.8rem;
}

#github .defnBorder {
  border: 2px solid darkred;
}

#github .noBorder {
  border: none;
}

#github note-block {
  display: block;
  border: 2px solid #5c2017;
  padding: 0.25rem 0.5rem 0.5rem 0.5rem;
  margin: 1rem;
  width: max-content;
}

#github sub-block {
  display: block;
  margin: 0rem 1rem;
  padding: 0.25rem 0.5rem;
}

#github demo-block {
  display: block;
  margin: 0rem 1rem;
  padding: 0.25rem 0.5rem;
}
