/* ------------------------------------------------------------------
  StylesStoryTeller.css - StoryTeller Styles 
  Jim Fawcett, Emeritus Teaching Professor
  Electrical and Computer Engineering, Syracuse University
 ----------------------------------------------------------------- */

/* ---- Page Layout -------------------------- */

/** {
  box-sizing:content-box;
}*/
/* page layout grid */
#github grid-container {
  display: grid;
  grid-gap: 0.2em;
  grid-template-columns: 1fr 3.5em;
  grid-template-rows: 2em 1fr 2em;
  grid-template-areas: "header header" "main right" "footer footer";
  background-color: #3f000f;
  /*border: 0.5em solid saddlebrown;*/
  border: 0.5em solid #3f000f;
  position: fixed;
  top: 0em;
  bottom: 0em;
  left: 0.1em;
  right: 0.1em;
}

#github .header {
  grid-area: header;
  background-color: white;
  text-align: left;
  vertical-align: central;
  line-height: 1.6em;
  padding-left: 1em;
  font-size: large;
  font-weight: bold;
}

#github .main {
  grid-area: main;
  background-color: white;
}

#github .right {
  grid-area: right;
  background-color: white;
}

#github .footer {
  grid-area: footer;
  background-color: white;
}

/* content view - iframe */
#github #slideShow {
  border: 2px solid saddlebrown;
  position: relative;
  overflow: hidden;
  z-index: 5;
  background-color: white;
  /*border: none;*/
}

#github button {
  font-size: large;
  min-width: 3em;
  cursor: pointer;
}

/* page sequencing buttons - Next, Prev, ... */
#github .navButton {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* show/hide notes button: [?] */
#github .openNotebtn {
  font-size: 1.5em;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

/* LoadStoryList button */
#github #loadBtn {
  width: 8em;
  height: 1.75em;
}

/* LoadStory button - not used for now */
#github #retrieveBtn {
  width: 8em;
  height: 1.8em;
}

/* title block on top bar */
/*#github .title {
  font-size: larger;
  font-weight: bold;
  padding-right: 3em;
}*/

/* title block on top bar */
#github #pagetitle {
  margin-top: 15px;
}

/* area in top bar to display page number and number of pages */
#github .pageField {
  display: inline;
  font-size: large;
  font-weight: normal;
}
/* ---- Page Notes --------------------------- */

/* pageNotes container */
#github .pageNotes {
  width: 0px;
  position: fixed;
  z-index: 100;
  max-height: 50%;
  top: 100px;
  right: 6.5em;
  background-color: white;
  color: #3c1414;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  overflow-x: auto;  /* was hidden */
  overflow-y: auto;
  transition: 0.5s;
  font-size: medium;
  -webkit-overflow-scrolling: touch;
}

/* page note kill button */
#github #closeButton {
  font-size: small;
}

#github span-1em {
  display: inline;
  padding-left: 1em;
}

#github span-2em {
  display: inline;
  padding-left: 2em;
}

#github span-3em {
  display: inline;
  padding-left: 3em;
}
