/* StylesFlexMenus */
body {
    box-sizing: border-box;
    font-family:Tahoma, sans-serif;
    margin:1em;
    /* border:1px solid black; */
}
div.navbar {
    position:relative;
    display:flex;
    flex-basis: 100%;
    /* width:100%; */
    height:2em;
    padding:0em 0.5em;
    border-bottom:1px solid #0005;
}
div.navbar a:link {
    color: #010101
}
div.menuItem {
    display:flex;
    position:relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0em 0.5em;
    /* border:1px solid green; */
}
div.menuItem a {
    text-decoration: none;
}
div.menuItem:hover {
    background-color:#ddd;
}
div.menuItem:hover .dropdown {
    display:flex;
    flex-direction: column;
    white-space: nowrap;
}
div.dropdown {
    display:none;
    position:absolute;
    top:1.95em;
    /* float: left; */
    left:0em;
    /* padding:0.25em 0.5em; */
    background-color: #fff;
    box-shadow: 8px 8px 16px #ccc;
    border:1px solid black;
    z-index: 10;
}
div.ddItem {
    padding:0.25em 0.5em;
}
div.dropdown .ddItem:hover {
    background-color: #ddd;
}
.ligthItem {
    background-color: #efefef;
    color: #010101;
}
.darkItem {
    background-color: #010101;
    color: #efefef;
}
/* div.dropdown .ddIterm:hover .expand {
    background-color: #010101;
    color: #efefef;                
} */
div.ddLabel {
    padding:0.25em 0.5em;
}
div.prevlink {
    display:none;
}
div.nextlink {
    display:none;
}
div.nextprev {
    display:none;
}
/* .menuScroll {
    position:absolute;
    right:2em;
}
.menuUnscroll {
    position:absolute;
    right:0em;
}
 */
nav button.menuScroll {
    position: fixed;
    top: 1.2em;
    right: 3.05em;
    padding: 0.45em 8px;
  }
  
  nav button.menuUnscroll {
    position: fixed;
    top: 1.2em;
    right: 1.25em;
    padding: 0.45em 8px;
  }
  