/*
  Default Styles
*/
* {
  box-sizing:border-box;
  margin:0px;
  padding:0px;
}
body {
  position: relative;
  padding: 3em 4em 6em 4em;
  margin: 0px;
  font-family: Tahoma, sans-serif;
  font-size: medium;
}

#github text-block, t-b {
  display:block;
  margin-top:15px;
  margin-bottom:15px;
}
#github boundedText-block, bt-b {
  width: 50em;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}

#github spacer-25, s-25 {
  display: block;
  height: 25px;
}