/*-- Basic Styles for all Pages --*/
* {
  /*-- override margin and padding defaults set by browser --*/
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#github body {
  /*-- make body sized and fitted to viewport --*/
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  font-family: Tahoma, sans-serif;
  font-size: 1em;
  font-weight: normal;
  background-color: #fefefa;
  color: #333;
}

#github content-block {
  margin:0.5em 1em;
}