/*
 * CSE681-CourseTheme.css - Additional styles for CSE681 course page
 * ver 1.0
 * 17 Aug 2011
 * Jim Fawcett, Syracuse Univ
 */
/*
#pagetitle 
{ 
  clear:both; text-align:center; padding:10px; 
  border-top-left-radius:5px; border-top-right-radius:5px; 
  background-color:#efe; border:1px solid Teal;
}
*/
  /* margin-top is ignored on clear:both element so use padding to control space between floated and cleared */

#pagetitle 
{ 
  clear:both; text-align:center; padding:0 10px 10px 10px; 
}

#title { margin:2px 50px 0px 50px; padding:4px; background-color:White; color:#280000; }

#subtitle { margin:0px 50px 2px 50px; padding:3px 0 10px 0; background-color:White; color:#280000; }

#pagedate { margin:5px 0 0 0; }

div[id="content"] { color:#280000; }

#content li { padding-bottom:10px; }

.block { background-color:White; color:#040; }

#content th { background-color:#663300; color:White; }

span.em, #content td.em { background-color:#ffeecc; color:#280000; }

#content td a:link, a:visited, a:active, a:hover { color:#663300; }

#content th, td { border-color:#280000; }

#content td { color:#280000; }

#content strong, .block { color:#280000; }

.category { padding:10px 0 10px 0; font-size:110%; }