/* StylesPageFrameThemeDefault */

/* 
  Stylesheets should be included in the order:
    - StylesPageFrameTheme(Default).css
    - StylesPageFrameStructure.css
    - StylesPageFrameMenus.css
*/

:root {
  --light: #fefefa;
  --dark: #333;
  --menu: #eee;
  --atten: #eeeeee;
  --hr: #010101;
}

#github #pagetitle {
  background-color: var(--dark);
  color: var(--light);
  border: 1px solid var(--dark);
}

#github #title {
  background-color: var(--dark);
  color: var(--light);
}

#github #subtitle {
  background-color: var(--dark);
  color: var(--light);
  font-weight: normal;
}

#github #subtitle a {
  background-color: var(--dark);
  color: var(--light);
}


#github a.repoLink {
  background-color: var(--dark);
  color: var(--light);
}

#github .note {
  background-color: var(--dark);
  color: var(--light);
}

#github .ligthItem {
  background-color: var(--light);
  color: var(--dark);
}

#github .darkItem {
  background-color: var(--dark);
  color: var(--light);
}

#github summary {
  /*width: max-content;
  max-width: 100%;
  padding: 0.25em 0.75em;
  margin: 0px;*/
  font-weight: normal;
  cursor: pointer;
  user-select: none;
}

#github a {
  color: var(--dark);
}

