/* StylesPageFrameThemeCSharp.css */

/* 
  Stylesheets should be included in the order:
    - StylesPageFrameTheme(Default).css
    - StylesPageFrameStructure.css
    - StylesPageFrameMenus.css
*/

:root {
  --light: #fefefa;
  --dark: #224466;
  --menu: #eee;
  --atten: #eefffe;
  --hr: #224466;
  --border: #224466;
}
#github #pagetitle {
  background-color: var(--dark);
  color: var(--light);
}

#github #title {
  background-color: var(--dark);
  color: var(--light);
}

#github #subtitle {
  background-color: var(--dark);
  color: var(--light);
  font-weight: normal;
  font-size: 0.9em;
}

#github a.repoLink {
  background-color: var(--dark);
  color: var(--light);
}

  #github a.repoLink:link {
    background-color: var(--dark);
    color: var(--light);
  }

#github a {
  color: var(--dark);
  background-color: transparent;
}

#github table a {
  color: var(--dark);
  background-color: transparent;
}

#github #subtitle a {
  background-color: var(--atten);
  color: var(--dark);
}


#github a.repoLink {
  background-color: var(--atten);
  color: var(--dark);
}

#github .note {
  background-color: var(--dark);
  color: var(--light);
}

#github .ligthItem {
  background-color: var(--light);
  color: var(--dark);
}

#github .darkItem {
  background-color: var(--dark);
  color: var(--light);
}

/*#github summary {
  width: max-content;
  max-width: 100%;
  padding: 0.25em 0.75em;
  margin: 0px;
  font-weight: normal;
  cursor: pointer;
  user-select: none;
}
*/
#github a {
  color: var(--dark);
}

#github summary {
  position: relative;
  z-index: 1;
}

#github a {
  outline: none;
}

#github summary {
  outline: none;
}
