body
{
    background-color:#eee;
    font-family: Tahoma, Sans-Serif;
    margin:5%;
}

#prevlink
{
  float:left;
  padding:20px;
}

#nextlink
{
  float:right;
  padding:20px;
}

#title
{
    text-align:center;
}

#container  
{
    width:100%;
    overflow:visible;
    position:relative;
    text-align:left;
}

#menu 
{
    background:#ddd;
}

#menu, #menu ul 
{
    padding:0;
    margin:0;
    list-style:none;
    background:#ddd;
}

#menu li 
{
    float:left;
}

#menu a 
{
    display:block;
    padding:4px;
    width:6em;
    text-decoration:none;
    margin-bottom:5px;
}

#menu li ul 
{
    position:absolute;
    width:7em;
    left:-999em;
    text-align:left;
    padding:0 5px 0 5px;
}

#menu li:hover ul, #menu li ul:hover 
{
    left:auto; border:1px solid Black;
    border-bottom-width: 3px;
    border-right-width:3px;
}

#menu li ul a:hover
{
  background:white;
}

.beginning
{
    margin-bottom:0;
}

.end
{
    clear:both;
}
